[2021-05-21 15:09] dkent600 opened #23 "Document that Seed fee should be passed to initialize as wei"
`@param _fee                   Success fee expressed as a % (e.g. 2 = 2% fee)`

Docs should be clear this this value should be passed too initialize as wei

[2021-05-24 10:22] BartuCulha opened #25 "Accepted"

[2021-05-24 14:34] #25 closed

[2021-05-24 15:27] BartuCulha opened #26 "Testing Zenhub"

[2021-05-24 15:31] #26 closed

[2021-06-21 15:44] giladt opened #76 "Import file name capitalization is wrong"
import { NumberService } from "services/**N**umberService";
import { DialogService } from "./**D**ialogService";

[2021-06-21 18:23] dkent600 commented on #76
I don't see a problem with dialogService (all are correctly DialogService), I do see numberService should be NumberService.

[2021-06-21 18:25] dkent600 commented on #76
Fixed the cases of numberService

[2021-06-21 18:28] dkent600 commented on #76
Actually I found dialogService and fixed

[2021-06-21 18:28] #76 closed

[2021-06-21 20:07] giladt opened #77 "Set overflow-x for `launchGrid` and `seedSummary` to auto"
![image](https://user-images.githubusercontent.com/2517870/122821421-1cef9200-d2dd-11eb-800f-62d2e6a726b2.png)

Setting `overflow-x: auto;` will fix the width of the page to screen size and enable horizontal scroll to the launches list.
The same goes for seedSummary, in the case where the value is extremely long.

[2021-06-21 20:32] dkent600 commented on #77
I am working on this page now,  it has a different layout for mobile.  I'll send you the wireframe.  So I'll close this .  Thanks!

[2021-06-21 20:32] #77 closed

[2021-08-05 11:14] Zitzak opened #132 "tetst"
issue

[2021-08-05 16:53] #132 closed

[2021-08-24 13:18] renckorzay opened #140 "Test"
test zenhub

[2021-08-27 12:07] BartuCulha opened #141 "Project Categories should come from a dropdown list"
Lending, Options, Staking, Assets, Stablecoin, NFT, L1 protocol, L2 protocol

[2021-08-27 12:09] BartuCulha opened #142 "Seed Wizard: Funding Tokens"

[2021-08-27 12:11] BartuCulha opened #143 "Seed Wizard: Seed Details - Funding Target & Funding Max Rework"
- [x]  Funding target and Funding max labels should reference the funding token symbol that the user entered higher on the page (see: [(Moved to Zenhub)Seed Wizard: Funding Tokens](https://www.notion.so/Moved-to-Zenhub-Seed-Wizard-Funding-Tokens-29eb9bc4142744cdb98f3c84f93012d1)).  Cleanly handle the case where they haven't yet selected the token.
- [x]  Put Funding Target and Funding Max on top o

[2021-08-27 12:13] BartuCulha opened #144 "Store Fee in only one place"
The Seed fee is currently stored in two places (SeedService.deploySeed and selectAPackage.html.  It should be defined in one place, as a single public constant number value in SeedService.ts, and the value should be 0  (yes, 0).

[2021-08-27 12:14] BartuCulha opened #145 "Seed Wizard: Rework Social Media Links"
1. Have an initial dropdown section consisting of selected social media channels: Twitter, Discord, Telegram, Reddit, LinkedIn.
2. Each item in the dropdown should include channel logo and name
3. Once the user chooses a channel, a predefined URL for the social media channel should be statically displayed, followed by a textbox wherein the user can input whatever is necessary to complete the URL (

[2021-08-27 12:15] BartuCulha opened #146 "Seed Wizard: Seed Details - Legal Disclaimer"
Lets go with this one, dillinger is free and easy to use:
https://www.markdownguide.org/getting-started/

[2021-08-27 12:17] #140 closed, assigned to nobody

[2021-08-27 12:17] BartuCulha opened #147 "Move admin tool into Prime Launch"
See spec:  https://www.notion.so/curvelabs/339a249185e14ddcbd731e5ba07c46c7?v=a921af62e868495db519e62d491d48c2&p=3707a3825fa6401a84cf49c7024ed7b3
Doug has created some skeleton code to get Mihir started.

[2021-08-27 12:18] BartuCulha opened #148 "Support manual entry of project token spec"
![(9+) Support man](https://user-images.githubusercontent.com/24368665/131126572-fbf67685-1198-480f-8db0-123ed2872dee.png)
1. once Project Token Address is provided, it should fetch the data from the etherscan or etherplorer. If we are only able to use ERC20 tokens, we should state that as a warning (in tooltip).
2. It should fetch and display the token name, ticker, token standard, the token logo

[2021-08-27 12:22] BartuCulha opened #149 "Create and use PrimeDAO token lists"
Kolektivo is tasked with coming up with token lists.  I'm not yet sure what lists we need.  Possibly a list of project tokens based on submissions of launches?  This list would fully specify each token (symbol, icon, etc).

We certainly need a list of selectable funding tokens for the dropdown requested in this card:  @(Moved to Zenhub)Seed Wizard: Funding Tokens.  This can simply be a list of tok

[2021-08-27 12:29] BartuCulha opened #150 "Newsletter Subscription should be with an email like the initial wireframes"
Renç:
1. Where do we store the email address?

If you can provide this answer, we can go ahead with the implementation. Providing a spec for the data storage is also fine: Should it be available to a group of people? We should keep this as simple as possible without including APIs or 3rd party solutions

Luuk:
Best would be to have it in a g sheet

Renç:
Simplest option with a data storage that is

[2021-08-27 12:31] BartuCulha opened #151 "Validate whitelist contents in Wizard Seed config"
Doug:
We can't allow users to submit corrupt whitelist files

[2021-08-27 12:32] BartuCulha opened #152 "Improve appearance of Congratulations popup"
Per Jaap:  Remove PrimeDAO logo.  Add animated background confetti à la:  https://stackoverflow.blog/2021/05/31/shipping-confetti-to-stack-overflows-design-system/

- [ ]  Remove Primedao logo
- [ ]  add animated background confetti
![Untitled (2)](https://user-images.githubusercontent.com/24368665/131127893-4158c097-5f5f-48fe-97ab-4a56d19801d2.png)

[2021-08-27 12:33] BartuCulha opened #153 "Add page displaying seed metadata (registration)"
![(9) Project Card](https://user-images.githubusercontent.com/24368665/131128066-b63945b1-cb43-4203-9d95-2cda5dcb278b.png)

[2021-08-27 12:35] BartuCulha opened #154 "Adapt to new Contracts-v2 repo structure"
The Contracts-v2 repo is being restructured with respect to how it exports contract artifacts and their deployed addresses.

[2021-08-27 12:36] BartuCulha opened #155 "Sorry, an unexpected error occurred: Uncaught TypeError: Cannot read property 'name' of undefined"
Failed to load resource: the server responded with a status of 404 ()
aurelia-logging-console.js:45 ERROR [PrimeLaunch] Failed to fetch onchain token metadata: call revert exception (method="name()", errorArgs=null, errorName=null, errorSignature=null, reason=null, code=CALL_EXCEPTION, version=abi/5.3.0)
t.error @ aurelia-logging-console.js:45
aurelia-logging-console.js:45 ERROR [PrimeLaunch] Sorr

[2021-08-27 12:37] BartuCulha opened #156 "Tell MetaMask to switch networks when network is wrong"
It is possible to programmatically tell metamask to switch networks when the user is logged into the wrong network.  It doesn't look hard to do.  Balancer does it.  Seems like good UX.

[2021-08-27 12:38] BartuCulha opened #157 "Change fee to 0%"
Please change 1% to 0%
![Select Your Pack (1)](https://user-images.githubusercontent.com/24368665/131128545-cdacb965-d1a5-44bc-9dcc-8b6a56879316.png)

[2021-08-27 12:39] BartuCulha opened #158 "Add the frame and padding to the documents page as seen on the wireframes"
BG COLOR: #1B1722

Doug:
The mock does not reflect the need for the sidebar menu to be wider than shown.  Thus it shows a wider padding than we can support.  So, we must allow for that difference while providing the requested background color for the body of the document
![Untitled (3)](https://user-images.githubusercontent.com/24368665/131128715-5d1238df-593e-418d-b576-6ed0be8da73e.png)

[2021-08-27 14:54] Zitzak opened #159 "Change the Seed wizard summary Proceed button text"

[2021-08-27 14:56] #159 closed, assigned to renc-curvelabs

[2021-08-27 15:06] Zitzak opened #160 "Change the Seed wizard summary Proceed button text"
Maybe the text of the Seed wizard summary page Proceed button should be more like a disclaimer, that they have reviewed the information, affirming that it is all correct?

### Screenshot of conversation in Notion
![Screen Shot 2021-08-27 at 17.04.24.png](https://images.zenhubusercontent.com/610113350e9daa1716323d68/53f9b702-a003-401a-a2d0-60e664e6a30d)

[2021-08-27 15:46] Zitzak opened #161 "Add Privacy Policy and Cookies"
**Pat:** Just highlighting that privacy policy and cookies are not completed (these need to be for launch)

### Screenshot of conversation in Notion
![Screen Shot 2021-08-27 at 17.31.20.png](https://images.zenhubusercontent.com/610113350e9daa1716323d68/82f58e03-10ef-4269-a2f2-18dab2999d45)

[2021-08-27 15:53] Zitzak opened #162 "Global Disclaimer text"
### Screenshot of conversation in Notion
![Screen Shot 2021-08-27 at 17.48.55.png](https://images.zenhubusercontent.com/610113350e9daa1716323d68/59eeaa77-c3e4-43c0-b0d4-2c88f0d58342)
### Links in the screenshot
- https://github.com/PrimeDAO/prime-launch-dapp/blob/master/README.md
- https://raw.githubusercontent.com/PrimeDAO/prime-launch-dapp/master/README.md

[2021-08-27 15:56] Zitzak opened #163 "New Footer Design"

[2021-08-27 15:58] Zitzak opened #164 "Header: New Design"
### Screenshot of conversation in Notion
![Screen Shot 2021-08-27 at 17.58.03.png](https://images.zenhubusercontent.com/610113350e9daa1716323d68/2ab5c2c0-858b-4663-9f84-672af70d29c1)

[2021-08-27 15:59] Zitzak opened #165 "Header: Updates to the wallet section"
### Screenshot of conversation in Notion
![Screen Shot 2021-08-27 at 17.59.30.png](https://images.zenhubusercontent.com/610113350e9daa1716323d68/9c42f28d-a780-4973-a5a1-68792cb3b30c)

[2021-08-27 16:03] Zitzak opened #166 "Seed Wizard: Seed Details - Funding Tokens per Project Token rework"
1. Funding Tokens per Project Token should be renamed to Project Token Exchange Ratio
2. The ratio should be displaying the ticker in your project token which you specified in Token Details (3)
Example: 1 PRIME = Fill Field USDC
3. Fill Field should pull the information from the previous section (What token would you like to raise in?)
### Screenshot of conversation in Notion
![Screen Shot 2021-08

[2021-08-27 16:05] Zitzak opened #167 "Contribute: Vesting Text"
### Screenshot of conversation in Notion
![Screen Shot 2021-08-27 at 18.04.57.png](https://images.zenhubusercontent.com/610113350e9daa1716323d68/3a9d8489-3a63-4450-a0fa-fe8ae64e5743)

[2021-08-27 16:12] Zitzak opened #168 "Transaction Behaviour should be modified"
![Screen Shot 2021-08-27 at 18.08.30.png](https://images.zenhubusercontent.com/610113350e9daa1716323d68/dc0b039d-359d-4e77-9a70-9786e2fc76c5)
[**Link to video above**](https://www.notion.so/curvelabs/Transaction-Behaviour-should-be-modified-1e8b0cc8207948d6a1005485a0583e8b)

Currently, when loading a transaction it covers your entire screen - ideally we would move transaction information to the he

[2021-08-27 16:14] Zitzak opened #169 "Check with Back-End team if 1% in the select a package page can be a functionality"
1% is hardcoded but we need to check with back-end team if this can be a functionality to make it agile for the future
### Screenshot of conversation in Notion
![Screen Shot 2021-08-27 at 18.13.30.png](https://images.zenhubusercontent.com/610113350e9daa1716323d68/be97c95c-4c0d-4d42-a501-024431e6c364)

[2021-08-27 16:19] Zitzak opened #170 "Remove uses of rem and em from the wizard"
We have wanted to remove uses of rem and em from our css.  These create unexpected consequences with managing layout and require additional work to compare and sync with the wireframes which are entirely given in px.

However, the css in the new seed wizard is still replete with uses of REM and EM.  Please convert these to the PX values that are given in the wireframes.  Be sure to thoroughly test

[2021-08-27 16:20] Zitzak opened #171 "validateInputs should not be invoked twice"
`validateInputs` in the Wizard stages is being invoked twice when the user clicks on the "Next" button.  As we add more stuff to that function (like checking the web for a valid disclaimer), it is slowing down.  So ideally we only invoke it once upon "Next".
### Screenshot of conversation in Notion
![Screen Shot 2021-08-27 at 18.20.28.png](https://images.zenhubusercontent.com/610113350e9daa1716323

[2021-08-27 16:22] Zitzak opened #172 "Private Sales on PrimeLaunch"
Basically, a sale that doesn't show up in the interface list of sales (you have to fetch the URL to access it and provide some sort of password to login)

The idea wouldn't be to build it now but it's come up when I talk to potential sellers and I think it'd be good to have on a future roadmap
### Screenshot of conversation in Notion
![Screen Shot 2021-08-27 at 18.21.37.png](https://images.zenhubu

[2021-08-27 16:23] Zitzak opened #173 "Automating Whitelisting Process"
Current Process:

1. user provides whitelist file URL
2. whitelist file URL is recorded in the IPFS seed reg JSON
3. the seed admin is responsible for pushing the whitelist into the Seed contract, after the contract has been deployed.

To consider for next iteration:

Users are not using etherscan and the solution is native to the dApp
### Screenshot of conversation in Notion
![Screen Shot 2021-08

[2021-08-27 16:24] Zitzak opened #174 "Research: Single Click Enter/Exit with Balancer"
Balancer vs. Totle

Would require Totle to update back-end (endpoint creation)

[2021-08-27 16:25] Zitzak opened #175 "fair launches image"
replace the rocket launch image in the Fair Launch section of the home page.

[2021-08-27 16:28] Zitzak opened #176 "Docs: Prime Support and Services"
[EzraWeller/prime-launch-dapp](https://github.com/EzraWeller/prime-launch-dapp/blob/master/src/documentation/primeSupportAndServices.md)
### Screenshot of conversation in Notion
![Screen Shot 2021-08-27 at 18.28.11.png](https://images.zenhubusercontent.com/610113350e9daa1716323d68/3c89598f-0e80-4cd3-9b14-c77b901b10cc)

[2021-08-27 16:31] Zitzak opened #177 "Make dropdown menus float above surrounding content"
Make dropdown menus float above surrounding content

[2021-08-27 16:34] Zitzak opened #178 "Give dropdowns keyboard functionality"

[2021-08-27 16:38] Zitzak opened #179 "Dropdown menu should withdraw when user clicks outside the menu"
### Screenshot of conversation in Notion
![Screen Shot 2021-08-27 at 18.38.39.png](https://images.zenhubusercontent.com/610113350e9daa1716323d68/61b0fea7-a838-4802-8fc6-850dbb1d97db)

[2021-08-30 15:56] dkent600 commented on #148
Further to validating a token for supporting ERC-20, per @renc-curvelabs we will require that project tokens be verified on etherscan.io.  This need only apply to mainnet, not rinkeby.

[2021-09-02 13:16] BartuCulha opened #180 "Funding Tokens Maximum should have an input field"
It is missing the input field.
![SEED Details _ R.png](https://images.zenhubusercontent.com/609a9f5f0a40bdfde66fe338/9a5d49ed-c5de-46e8-a915-2ef941f2981f)

[2021-09-02 14:59] renc-curvelabs commented on #155
@BartuCulha Can you try to reproduce this one please?

[2021-09-02 15:14] dkent600 commented on #151
Is not difficult, the code is 95% already written.

[2021-09-02 15:25] dkent600 commented on #153
Need to decide on the navigation.  I absolutely don't support adding a link to an Accounts popup (should we decide to add one).  I think the Seed dashboard is the obvious choice for a link.

[2021-09-02 19:11] dkent600 opened #181 ".eth tokenlists aren't fetching properly"

[2021-09-02 23:30] dkent600 opened #182 "DAI token in token lists is different from the one in coingecko"

[2021-09-02 23:47] dkent600 opened #183 "Investigate new source of token prices"

[2021-09-02 23:50] dkent600 commented on #183
@renc-curvelabs

[2021-09-02 23:54] dkent600 commented on #181
Fixed two problems:

1) the uniswap uri was wrong
2) the ipsfservice had a bug

[2021-09-02 23:56] dkent600 opened #184 "support token decimals less than 18"

[2021-09-03 07:48] BartuCulha commented on #155
I can't, moving to wont work @dkent600 @renc-curvelabs

[2021-09-03 10:06] renc-curvelabs commented on #158
Required

[2021-09-03 10:06] renc-curvelabs commented on #179
Optional

[2021-09-03 10:06] renc-curvelabs commented on #177
Optional

[2021-09-03 10:07] renc-curvelabs commented on #178
Optional

[2021-09-03 10:07] renc-curvelabs commented on #156
Balancer has exactly what we need

[2021-09-03 11:18] renc-curvelabs commented on #168
Optional - Not Required for release

[2021-09-03 11:21] renc-curvelabs commented on #167
Assigned to Ezra

[2021-09-03 11:22] renc-curvelabs commented on #165
Deadline for finalizing the specs: 10.09.2021

[2021-09-03 11:22] renc-curvelabs commented on #164
Deadline for finalizing the specs: 10.09.2021

[2021-09-03 11:26] renc-curvelabs commented on #165
Initial discussions with Luuk:

Design:
https://www.figma.com/file/hTLvqCEzki3WoG5uJbtynw/Prime-DAO2DAO?node-id=6%3A460
Drop down/Popup design is required

Required Functionality:
- Identity functionality: Can be taken from Balancer code
- Disconnecting and connecting with another wallet
- Network
- Recent transactions
- Clear all functionality (under recent transactions): it resets your transacti

[2021-09-03 11:27] renc-curvelabs commented on #184
This is not required

[2021-09-03 11:28] renc-curvelabs opened #185 "Select Package Copy"

[2021-09-03 11:29] renc-curvelabs commented on #185
![image](https://user-images.githubusercontent.com/79934562/131998350-c903ed83-b412-452c-8107-cbd649408a82.png)

Hey Ez, we need a new copy for this page as now we are going with providing no services (marketing should also be removed). Can you please provide one?

Thanks!

[2021-09-03 11:31] renc-curvelabs commented on #166
Deadline for finalizing the specs: 10.09.2021

[2021-09-03 11:32] renc-curvelabs commented on #163
Deadline for finalizing the specs: 10.09.2021

[2021-09-03 12:54] dkent600 commented on #183
From Balancer:

1. A token contract
2. A token logo
3. A CoinGecko price feed

We briefly vet the token contract to make sure it doesn't do anything strange that would break Vault accounting, e.g., fee on transfer or rebasing supply. If it looks good, we commit the contract address, logo, and CoinGecko ID to our assets repository, which then generates the token lists we use on our UI. In the absen

[2021-09-03 13:00] renc-curvelabs commented on #149
Deadline for Kolektivo to provide token list: 10.09.2021

[2021-09-04 14:13] codebuster22 opened #187 "Add Seed Admin Dashboard Page"
@BartuCulha This is part of: https://github.com/PrimeDAO/prime-launch-dapp/issues/208

## User Story
As an admin I would like to access and use the admin functionality provided by the contracts, inside the Prime Launch Dapp.

## Current Scenario
The Prime Launch Dapp Doesn't have the Admin Dashboard as of now.

## Expected Result
The Prime Launch Dapp should have minimalist page for Admin to acces

[2021-09-05 15:02] dkent600 commented on #187
FYI there has already existed for some time an issue for this, assigned to you, @codebuster22  https://github.com/PrimeDAO/prime-launch-dapp/issues/147

[2021-09-05 15:05] dkent600 commented on #147
Closing as has been duplicated by:  https://github.com/PrimeDAO/prime-launch-dapp/issues/187

[2021-09-05 15:05] #147 closed

[2021-09-07 10:15] EzraWeller commented on #185
Can you give me a clearer idea of what you have in mind? It looks like there is only one package available -- why are we even offering people to "select a package"? What is this page for exactly if there's only one package?

[2021-09-07 10:24] renc-curvelabs commented on #185
Hey Ez,

Here are some notes from our discussions with Luuk about this page:

- We will be offering only 1 package at this time due to legal regulations we still have to figure out. This might change in the future.
- This package will be free and will not include Marketing. So we can get rid of that bulletpoint all together.
- We want to display this page to make an emphasis that they are getting

[2021-09-07 10:28] renc-curvelabs commented on #167
Examples of what we have now:
![image](https://user-images.githubusercontent.com/79934562/132329813-fa1c5ab4-5ed8-448b-8b3c-327c068e3b6f.png)

[2021-09-07 10:38] EzraWeller commented on #185
Okay, sounds good. So "Support" and "Hosted" are still being offered, yes? Can I get more detail on what those are? To me it looks like the main problem is that it isn't clear what those mean.

The implication of keeping the page as "Select your package" with just one package is that there will be more packages in the future -- is that the plan still? If that's uncertain I would suggest getting ri

[2021-09-07 10:58] renc-curvelabs commented on #166
Here is the mock - please go ahead with the implementation and let me know if there are any further questions:

- "PRIME" should be automatically pulled from Project Token detaails
- "DAI" should be automatically pulled from "What would you like to raise in?" section
![image](https://user-images.githubusercontent.com/79934562/132333507-3bd2448a-d4cb-4a6e-b98b-bf1cf5186d57.png)

[2021-09-07 10:58] EzraWeller commented on #167
Okay, let's change this to something like:
[code]
This text should also display underneath the project tokens (right side, says "0.00 | PRIME" in the screenshot), not under the contribution tokens.

[2021-09-07 11:05] renc-curvelabs commented on #167
Thanks Ez - moving to backlog

[2021-09-07 12:34] renc-curvelabs commented on #185
Support: They will have access to a support team which they can forward feedback towards. They will basically have support agent or agents
Hosted: Their sale will be displayed in the platform

We will keep this page as we will have more packages in the long term

[2021-09-07 15:04] BartuCulha opened #188 "Landing Page BG should cover all page"

[2021-09-07 18:17] dkent600 commented on #188
@BartuCulha I can't see the problem here.  Can you please draw an arrow to it, or circle it?

[2021-09-07 19:42] dkent600 commented on #188
@BartuCulha I did just deploy a change to the background colors.  Perhaps you can check again if the problem is still there?  (I can't check myself because I don't know what the problem is)

[2021-09-07 19:54] dkent600 commented on #166
@renc-curvelabs In the mock, why does this say "Seed Target" and "Seed Max".  those values are in terms of the funding token.

I know this has nothing to do with this card, and I would ignore it anyway.  So I assume any require changes to those bits are located in another card somewhere.  But still....

[2021-09-08 09:13] renc-curvelabs commented on #166
As mentioned on TG - Seed Target/Max sections are part of a separate conversation
There will be a separate ticket once it is confirmed

[2021-09-08 09:36] renc-curvelabs commented on #164
The Header design is finalized. Please find it in the link below under "Wallet Interaction" designs

- https://www.figma.com/file/hTLvqCEzki3WoG5uJbtynw/Prime-DAO2DAO?node-id=6%3A460
- Please disregard the rest of the Figma board, disregard the designs under "Top Bar" "Side Bar" "Footer".
- I know that Gilad have already developed this for Prime Deals applications, there might be an opportunity to

[2021-09-08 09:37] renc-curvelabs commented on #163
The Footeer design is finalized. Please find it in the link below under "Wallet Interaction" designs

- https://www.figma.com/file/hTLvqCEzki3WoG5uJbtynw/Prime-DAO2DAO?node-id=6%3A460
- Please disregard the rest of the Figma board, disregard the designs under "Top Bar" "Side Bar" "Footer".
- I know that Gilad have already developed this for Prime Deals applications, there might be an opportunity t

[2021-09-08 09:39] renc-curvelabs commented on #165
The Wallet design is finalized. Please find it in the link below under "Wallet Interaction" designs

- https://www.figma.com/file/hTLvqCEzki3WoG5uJbtynw/Prime-DAO2DAO?node-id=6%3A460

Required functionalities are provided in the above comment. I would also recommend implementing Add Prime & Claim Prime functionalities as even though they are not required now, they will be in a matter of 2-3 months

[2021-09-08 10:24] BartuCulha commented on #158
Looks good but frame is missing in smaller widths. (Phone's and Tablets) I'll create an other card for that issue @dkent600

[2021-09-08 10:25] BartuCulha opened #189 "Add Frame to Document Page for Small Screens"

[2021-09-08 16:53] dkent600 commented on #150
Fastcomet issue is fixed (by fastcomet)

[2021-09-08 16:53] dkent600 commented on #150
You can see info about how this works here:  https://www.notion.so/primedao/Working-Documents-844319ebec714334b30586e80cd315d2?p=b16a6718ffd7440b8e4987dfe656818a

[2021-09-09 06:15] renc-curvelabs commented on #156
Balancer:
![image](https://user-images.githubusercontent.com/79934562/132632956-f901c4c9-026e-4f54-b33f-17e041601d18.png)

[2021-09-09 13:20] BartuCulha opened #190 "Finish QA"
This is a test

[2021-09-09 15:03] BartuCulha opened #191 "Align Tic and Cross Icons in Select Package page"

[2021-09-09 15:08] BartuCulha commented on #191
Please align the tics and cross icons to the middle of the circle
![Select Your Pack](https://user-images.githubusercontent.com/24368665/132711413-a6687e38-abfe-4723-bd1c-90eae6eb32f4.png)

[2021-09-09 20:59] dkent600 commented on #163
awaiting clarification from Jaap on colors @renc-curvelabs

[2021-09-09 21:29] dkent600 commented on #164
This screenshot does not include the submenu that is shown in the mock for Deals.  Does that mean there is no subheader for Launch?    @renc-curvelabs

[2021-09-09 21:45] dkent600 commented on #164
@renc-curvelabs So this should say "Ethereum" when on mainnet?  What if the network is not mainnet?  If not mainnet, what should the icon be?  Same as mainnet?

![image](https://user-images.githubusercontent.com/1821666/132766775-7017400a-d0f4-4c00-8442-31950fc395d3.png)

[2021-09-09 21:46] dkent600 commented on #164
@renc-curvelabs What is this icon for?  seems redundant.

![image](https://user-images.githubusercontent.com/1821666/132766864-d59aa59f-f360-4609-8211-533329e58f3b.png)

[2021-09-09 22:06] dkent600 commented on #164
@renc-curvelabs If there is to be a submenu, how does it behave?  Is it always visible?  Or only on hover?

[2021-09-10 06:56] renc-curvelabs commented on #185
Hey Ez - coming back to this
Can we finalize something today? Thanks!

[2021-09-10 08:42] BartuCulha opened #193 "Select Package: Start registration button should act same as other buttons when hovered over"
please remove the decotarion and the blue cover when hovered over

![Select-Your-Package-PrimeLaunch (1).png](https://images.zenhubusercontent.com/609a9f5f0a40bdfde66fe338/d48e783d-0dd0-4a20-a7fa-b7ba42b88c3e)

[2021-09-10 08:53] BartuCulha opened #194 "Seed Reg: Please supply a valid image file type for project token logo"

[2021-09-10 09:22] BartuCulha commented on #194
I am using these addresses for testing:
0x5592EC0cfb4dbc12D3aB100b257153436a1f0FEa DAI Seed token
0x80E1B5fF7dAdf3FeE78F60D69eF1058FD979ca64 PRIME

When the project token address is provided, I can see the logo but after clicking next I receive the following error.
Please supply a valid image file type for project token logo

https://images.zenhubusercontent.com/352639756/430a148b-6ee6-4f53-8b36-e

[2021-09-10 16:28] dkent600 commented on #194
@BartuCulha Are the instructions for entering the url, given on the page,  not clear?  You have supplied an mp4 file.

[2021-09-10 16:33] dkent600 commented on #194
Clicking on the resulting link one can see the image URL is "https://assets.coingecko.com/coins/images/9956/thumb/dai-multi-collateral-mcd.png?1574218774"

I think the problem is with the querystring.

[2021-09-11 16:00] EzraWeller commented on #185
Something like this? Has "liquid launch" changed names to "LBP"? "LBP" doesn't seem great, but if that's what we're using atm, cool.

---
# Select your package
More packages will be available in the future.

## Basic
Seed or LBP launch
- [x] Featured Listing -- your launch will be featured in Prime Launch's curated list of token launches
- [x] Personal Support -- Prime DAO will assign 1-2 communit

[2021-09-13 07:29] renc-curvelabs commented on #185
Thanks Ez!

[2021-09-13 09:16] BartuCulha opened #195 "Cannot Confirm deploySeed on Gnosis(Rinkeby)"
I am trying to create a new seed against Rinkeby. I cannot confirm the latest seed on Gnosis. https://rinkeby.gnosis-safe.io/app/#/safes/0x2E46E481d57477A0663a7Ec61E7eDc65F4cb7F5C/transactions

Here's the error message:

Confirmation transaction failed - Transaction has been reverted by the EVM: { "blockHash": "0x65369337553fe07b4dbd067e12b44ecfadbb87e978162d3b4e697671540c5aa6", "blockNumber": 928

[2021-09-13 09:19] BartuCulha opened #196 "Copy For Switch Network Pop-Up"

[2021-09-13 09:22] renc-curvelabs commented on #196
@BartuCulha we need further information in this brief for Ezra to pick up on an efficient way

[2021-09-13 09:27] codebuster22 commented on #195
The transaction was blocked by transactions with a lower nonce. Gnosis expects us to execute transactions in sequence.

[2021-09-13 09:32] #195 closed

[2021-09-13 09:36] BartuCulha commented on #152
So good!

[2021-09-13 12:09] BartuCulha opened #197 "Select a package: **Action: Where will Learn more lead user?"

[2021-09-13 12:11] BartuCulha opened #198 "Set up a call with PERP"

[2021-09-13 12:13] BartuCulha opened #199 "Provide description on how to use Prime Rating API"

[2021-09-13 12:14] BartuCulha opened #200 "Come back with a final suggestion for the Conversion Rate, should we remove it from the UI"

[2021-09-13 12:16] dkent600 commented on #196
Is not bad as-is (IMHO), but maybe could be more perfect.  Personally I wouldn't sweat this too much.  But would be trivial for dev to change if we want to.

![image](https://user-images.githubusercontent.com/1821666/133081665-e8bfa9c6-1e06-4d2d-b060-64a32f9907c7.png)

[2021-09-13 12:16] BartuCulha opened #201 "LBP: Re-Do Mock for Registration Wizard"

[2021-09-13 12:20] BartuCulha opened #202 "LBP: Draft a Price Impact Warning pop-up to be Implemented on the Front End"

[2021-09-13 12:21] BartuCulha opened #203 "LBP: Rethink the copy for “Launch Supply”"

[2021-09-13 12:51] renc-curvelabs commented on #164
Hi Doug,

Here is the latest and hopefully final update to the header - Under "Nav Bar":
https://www.figma.com/file/CU4dt2fp3FmKZ0K1As0DJH/PrimeDAO-Design-System?node-id=296%3A150

This includes explanations on:
- Submenu behavior
- Submenu Items should be as following:
Home
Contribute
Apply
Launches
Docs
- Top level menu items behavior
- New wallet and funds display (PRIME I ETH)

Adding screensh

[2021-09-13 15:02] BartuCulha opened #204 "Seed Reg: Whitelist should not ask for an URL if it's empty"

[2021-09-13 16:55] renc-curvelabs commented on #203
Need more descriptions and screen shot to assign to the right people @BartuCulha

[2021-09-13 23:04] dkent600 commented on #191
@renc-curvelabs This doesn't have a priority set

[2021-09-14 06:42] renc-curvelabs commented on #191
Yes - it is on purpose
I would like to see how it looks with the new copy first

[2021-09-14 09:31] BartuCulha opened #205 "Tooltip design: Inform user that the maximum time remaining is 30 days."

[2021-09-14 09:35] BartuCulha opened #206 "Reg Wizard: Inform user that the maximum time remaining is 30 days"

[2021-09-14 09:37] BartuCulha opened #207 "Research feasibility of automating whitelist addition and check if there is a way to obtain the whitelist"

[2021-09-14 09:38] BartuCulha opened #208 "Create UI for Admin Panel LBP"
@BartuCulha This is being worked here:  https://github.com/PrimeDAO/prime-launch-dapp/issues/187

Ideal User Flow:-
1. Admin comes to Prime Launch
2. Clicks on LBP Launch
3. Admin Fills out the form.
4. Clicks on Submit
5. Transaction Request Sent to PrimeDAO’s Gnosis Safe.
6. PrimeDAO confirms the transaction.
7. Admin is notified.
8. Admin comes to Prime Launch Admin Panel.
9. Transfers required

[2021-09-14 14:25] fabianschu commented on #149
Luuk asked me to create three lists based on the three tabs in [this](https://docs.google.com/spreadsheets/d/14agNdsRvvPJec56iYEgyiz7gPJdvNUXjAIucKaI5Bek/edit#gid=0) google sheet:
- payment tokens: can be used for the Seed wizard
- certified (B+ or higher) & quality tokens (A+):  are for Indices and Prime Rating

For the token lists to be listed on [tokenlists](www.tokenlists.org), it is necessary

[2021-09-14 14:29] fabianschu commented on #149
If we follow this approach, what is left to do is:
- validate the schema correctness of the three json files that I created
- upload the json files via pinata
- provide the three content hashes to Luuk
- create three subdomains (task for Luuk)
- associate the three new subdomains with the three content hashes (task for Luuk)
- create an issue in the uniswap/tokenlists repo

[2021-09-14 14:31] fabianschu commented on #149
If ever a list needed to be modified, we would need to upload a new list and associate the respective ENS subdomain with the new content hash.

[2021-09-14 15:30] dkent600 commented on #205
@BartuCulha Where are you seeing this?

[2021-09-14 15:31] dkent600 commented on #206
@BartuCulha Need a better description.  When  (and where) XYZ happens , the user should be informed ABC

[2021-09-14 15:32] BartuCulha commented on #205
In the LBP dashboard @dkent600
![Liquid Raise](https://user-images.githubusercontent.com/24368665/133287796-b0e96bb9-7b56-4dad-a19a-0a849e5ce756.jpeg)

[2021-09-14 15:42] dkent600 commented on #184
Luuk has been clear 18-only

[2021-09-14 15:47] BartuCulha opened #211 "Review Launch details copy to review price impact warning"

[2021-09-14 15:49] dkent600 opened #212 "Create LBP wizard pages"

[2021-09-14 17:36] dkent600 commented on #191
Then should remain in either in spec or needs triage

[2021-09-14 17:40] dkent600 commented on #207
These are two questions.  The first has been decided that while feasible, we won’t do because the resulting high gas cost is born by the signers

[2021-09-14 17:43] dkent600 commented on #149
We have decided to host the files in a public git repo under primedao.  No ENS nor IPFS

[2021-09-14 17:45] dkent600 commented on #206
Referring to seeds?

[2021-09-14 18:08] dkent600 commented on #208
@BartuCulha Why was this closed?  We do need this.

[2021-09-15 07:44] fabianschu commented on #149
This is been moved to the new repository `tokenlists`. Issue to be found [here](https://github.com/PrimeDAO/tokenlists/issues/2).

[2021-09-15 07:44] #149 closed

[2021-09-15 08:52] renc-curvelabs commented on #206
This is for LBP - hence the tag

It was decided in the workshops that LBP should not be longer than 30 days.

[2021-09-15 08:53] renc-curvelabs commented on #207
Won't work

[2021-09-15 08:54] renc-curvelabs commented on #211
Assign to Ezra so he is aware please - just did

[2021-09-15 08:57] renc-curvelabs commented on #200
As mentioned in yesterdays workshop - This is already finalized. We will go with the current spec:<
![image](https://user-images.githubusercontent.com/79934562/133403437-a044cbd5-ff34-4ccf-b397-34791a7c6ab6.png)

[2021-09-15 09:01] renc-curvelabs commented on #202
This already has a spec which was presented in the workshop - providing it here:
https://www.figma.com/file/yitVGz7k9h49eDmNsnys2Q/Prime-Launch-(final)?node-id=3655%3A13461
![image](https://user-images.githubusercontent.com/79934562/133404115-f8ec5ab5-b431-4974-ab85-a05c7b4c082a.png)

[2021-09-15 09:03] renc-curvelabs commented on #201
We went through this and provided a spec for it in the workshop:
https://www.figma.com/file/yitVGz7k9h49eDmNsnys2Q/Prime-Launch-(final)?node-id=3655%3A13461
![image](https://user-images.githubusercontent.com/79934562/133404356-f6c9ce85-69fd-4140-bf49-27a00a4a83ac.png)

Pending:
- Copy updates
- Details on calculations for Launch Preview

[2021-09-15 09:04] renc-curvelabs commented on #203
Assign to Ezra please

[2021-09-15 09:07] renc-curvelabs commented on #201
Can I move this to backlog? @dkent600

I believe there are a lot of items that can be built already that does not heavily depend on previously mentioned pending points:

- What funding token you would like to raise in
- Number of tokens to be provided
- Dates
- Weights
- Legal Disclaimer

[2021-09-15 11:43] EzraWeller commented on #196
Happy to help here, but I need context:
- what changes are needed? what are the goals for this copy?
- when will users see this copy exactly?
- any limits to length or appearance?

[2021-09-15 12:17] dkent600 commented on #206
OK, is a little weird that we have a ticket on this when the UI to which it pertains (the wizard) has not even been started.  Frankly I would close this ticket and make sure instead that the spec is included in in a specification doc.  @renc-curvelabs @BartuCulha

[2021-09-15 12:20] dkent600 commented on #207
@renc-curvelabs we *did* work the first part this.  Note it is only research.  As far as I know we have not addressed the 2nd part of it:  the ability to obtain the current whitelist.  Last I heard it is not possible  to do and we need to decide whether to implement it (and if so, create a separate ticket).

[2021-09-15 12:28] dkent600 commented on #201
@renc-curvelabs This ticket is assigned to Luuk.  He should be sending this to the QA column if he believes the work is complete.  QA should confirm the work is done (and make sure everything is properly documented in our drilldown doc).  Then the ticked can be moved into the approved column.

For doing the actual implementation, we would create another ticket, which in fact [I already did yesterd

[2021-09-15 12:44] dkent600 commented on #196
Make it clear that the user must connect to the XYZ network or they will be unable to interact with Launches.  When the user clicks the "Ok" (or whatever we call it) button they will be automatically prompted to connect to the XYZ network.

Is already pretty clear about this, just fishing for possible improvements.

After they have connected to the wrong network.

appearance has pretty much alread

[2021-09-15 13:00] renc-curvelabs commented on #207
As discussed yesterday, we will not implement it due to high gas fees and cost on PrimeDAO side

[2021-09-15 13:01] renc-curvelabs commented on #201
Thanks @dkent600  - @BartuCulha follow up accordingly please

[2021-09-15 14:02] renc-curvelabs commented on #208
Hey @BartuCulha - we do not need a mock for this, we will just use the same design from LBP

[2021-09-15 14:26] renc-curvelabs commented on #197
This should go to Docs for the launch

[2021-09-15 14:28] dkent600 commented on #200
@renc-curvelabs This is just a spec which apparently is done.  Should be documented in our reference doc.  So I am moving to QA where you can approve the spec, properly document it,  and move it to Approved.

[2021-09-15 14:32] BartuCulha commented on #208
got it thanks @renc-curvelabs

[2021-09-15 14:33] BartuCulha commented on #197
I have updated the title @renc-curvelabs

[2021-09-15 15:02] dkent600 commented on #206
@BartuCulha please just approve and properly document the design, then send this card to the Approved column.

[2021-09-15 15:03] dkent600 commented on #205
@BartuCulha This page doesn't exist yet.  This is just design.  Please approve the design, properly document it and send to the Approved column.  We'll deal with implementation cards later.

[2021-09-15 15:10] dkent600 opened #215 "Pull funding tokens list from new tokenlist"

[2021-09-15 15:17] dkent600 commented on #207
I do not recall discussing that at all.  I only recall the cost of automatically setting the list at seed creation.

[2021-09-15 19:53] dkent600 commented on #164
Per Jaap:

The main menu and submenu will float above the content. And when the user scrolls the content will scroll up under the main menu and submenu.

[2021-09-15 20:00] dkent600 commented on #164
@renc-curvelabs You've got "Apply" as a submenu item.  Where does that lead to that isn't already covered by the other items?

[2021-09-15 20:35] giladt opened #216 "Make Dropdown animation smoother"

[2021-09-15 20:40] dkent600 commented on #164
There is no "contribute" different from "apply".  Gotta choose one or the other.  I'll go with "Contribute" since that is what we show on the home page.

[2021-09-15 20:40] giladt commented on #191
This have been already done in #185

[2021-09-15 22:25] dkent600 opened #217 "Spec what happens when the users clicks on unfinished product link"

[2021-09-15 22:27] dkent600 commented on #217
@renc-curvelabs for you to triage

[2021-09-16 00:37] dkent600 commented on #215
Currently stuck because the funding token dropdown is failing to load because the token list given us by Kolektivo contains a token with only 6 decimals.

[2021-09-16 12:40] renc-curvelabs commented on #164
Good point - I am ok with keeping 1
Let0s keep Launches

[2021-09-16 12:44] renc-curvelabs commented on #217
They will go to their relevant section at prime.xyz
For example prime.xyz/deals

It will open on another tab

DO you need further information on the behavior of it or are those clear with Jaap?

[2021-09-16 13:15] dkent600 commented on #164
Sorry, T mistyped, is "Launch" that we want to keep (singular)

[2021-09-16 13:17] dkent600 commented on #217
Are those ready?  If not, when will they be?  Can we define those urls here in this ticket?

[2021-09-16 13:19] dkent600 commented on #217
@renc-curvelabs We already decided they will not open in another tab.  This way the app will better mimic an "overarching" app xperience.

[2021-09-16 16:17] BartuCulha commented on #163
moving to accepted

[2021-09-16 18:14] dkent600 commented on #216
Depends on #177

[2021-09-17 06:45] renc-curvelabs commented on #184
token decimals != 18 will need to be supported for launch

![image](https://user-images.githubusercontent.com/79934562/133736973-457e85e6-80c5-426c-9e5e-d9e987dcb965.png)

[2021-09-17 10:18] dkent600 opened #220 "Support token decimals other than 18"

[2021-09-17 10:19] #220 closed

[2021-09-17 10:27] dkent600 commented on #198
@BartuCulha What is the reason for this and the status?  My understanding is that PERP might provide information and reusable code for developing the LBP graphs that we want to use in the LBP dashboard and optionally in the stage4 wizard.  If so, we will want this sooner than later.

[2021-09-17 10:38] renc-curvelabs commented on #217
That was for the apps that are already active no? This is how it should be in my view:

- if Prime Deals app is already live, it should open in the same tab to mimic the "overarching" app experience.
- if it is not live, it should open in a new tab as it will go to a website with a completely different design. Having the navbar of the overarching app and displaying a website with different design

[2021-09-17 11:18] dkent600 commented on #217
agreed, thanks

[2021-09-17 15:14] BartuCulha commented on #198
PERP told Luuk to check out https://copperlaunch.com/.

Luuk posted an image of how PERP is doing the graphs and he said he will provide a light + dark version of the graphs. Here's the image he has provided.
![image_2021-09-14_10-31-46](https://user-images.githubusercontent.com/24368665/133806777-38cbfafb-53c7-482a-adf2-2cdcad5428c1.png)

[2021-09-17 15:17] dkent600 commented on #198
What we’re hoping for more than anything is their source code (a Git repo)

[2021-09-17 15:20] BartuCulha commented on #177
https://launch.prime.xyz/newSeed
Dropdown works fine on Testnet but not on Mainnet. Are we going to update Mainnet after Doug's return?

[2021-09-17 15:39] BartuCulha commented on #198
I added it as an action item. I'll ask Luuk

[2021-09-17 16:50] giladt commented on #177
All latest changes are not yet deployed to Mainnet. It will have to wait for Doug's return...

[2021-09-17 17:10] dkent600 commented on #177
Yeah, I’m not deploying regularly to mainnet.  When I do I am always clear in the TG announcements.  If you need a mainnet deploy for some reason, ask and I can do.  If urgent I can do before I get back from vaca

[2021-09-20 15:35] codebuster22 commented on #207
So, to get the whitelist, we can use a linked list, and get everything. But we have same question. Do we want to update the contracts which have been audited and are complete.

[2021-09-22 11:35] renc-curvelabs commented on #211
Hey Ez - any updates on the copy of this page?
Just as a reminder - we are also looking for tooltip explanations

Thanks!

[2021-09-22 11:52] BartuCulha commented on #194
I am reopening this issue because it has occured again.
Address used:
0xc778417E063141139Fce010982780140Aa0cD5Ab

![Token Details _ ](https://user-images.githubusercontent.com/24368665/134338724-6082de46-5673-45bf-aa97-3e83efd999c8.png)

[2021-09-22 11:55] BartuCulha opened #221 "Sorry, an error occurred: HTTP status 422. Message received: 30 , Gas estimation failed , Cannot estimate gas with `eth_estimateGas`: execution reverted"

[2021-09-22 14:45] EzraWeller commented on #211
Sorry, didn't see this one.

As a general rule, to fill in copy I need to know:
1. Exactly which copy needs to be written -- there's just a screenshot.
2. The goal for the copy that needs to be written. What do we need to accomplish that isn't already there? It's not obvious to me from the screenshot.

[2021-09-22 14:48] EzraWeller commented on #196
It already looks good to me, but here's an option that's shorter:
`Connected to unsupported network (mainnet). Switch to rinkeby?`
` OK Cancel`

[2021-09-22 14:49] EzraWeller commented on #203
What's wrong with launch supply? What ideas are misleading about that, or what ideas do we want to communicate that it's missing?

[2021-09-24 07:23] renc-curvelabs commented on #211
Hey Ez,

There are bits and pieces through out the whole page that we need your help with.
The purpose is  that we are  really sure if the way it is now is the clearest way to phrase all this.

- What would you like to raise in (the Funding Token)? > We are missing a tooltip explanation on what the funding token means and the role it will play in the LBP
- Number of tokens you will provide to laun

[2021-09-24 11:56] renc-curvelabs commented on #203
I am assigning this ticket to Luuk as he will be remocking this section - thanks for the support Ez!

[2021-09-24 11:59] renc-curvelabs commented on #164
Providing the links for apps:

Deals: https://www.prime.xyz/deals
Rating: https://www.prime.xyz/rating
Pools: https://www.prime.xyz/pools

[2021-09-27 15:24] #198 closed

[2021-09-28 11:35] #169 closed

[2021-09-28 11:36] BartuCulha opened #225 "Create a copy for Ready To go Page"

[2021-09-28 11:37] BartuCulha opened #226 "Create a copy for"

[2021-09-28 13:01] BartuCulha commented on #225
Hey @EzraWeller can you review the new copy please?

[2021-09-28 13:01] BartuCulha commented on #226
I'll update this issue once Thank you page is accessible. @EzraWeller

[2021-09-28 13:18] dkent600 commented on #164
@BartuCulha Note that the screenshot given above is out-of-date.  One has to look at the mock itself.

[2021-09-28 13:28] BartuCulha commented on #164
Thanks @dkent600 , here's a the updated mocks. These mocks can also be found in our LBP Handoff here:
https://www.figma.com/file/IIaSi96Paa9amdOUQ3NASZ/Prime-Launch-LBP-Developer-Handoff?node-id=2%3A3937

![Submenu](https://user-images.githubusercontent.com/24368665/135095711-2621e71b-303d-4385-89e0-07df3e012332.png)

[2021-09-28 18:54] dkent600 commented on #215
According to our agreement in a meeting with Pat and Renc, I made the change to allow a tokenlist to be loaded even if one of more of the tokens must be omitted because they don't have 18 decimals, or are not parsable.

Thus, though on mainnet (only) we are loading the list from the json on github, we are rejecting USDC cuz it has only 6 decimals.  One can see this as an error message in the brows

[2021-09-28 19:00] dkent600 commented on #196
I changed it to this:

![image](https://user-images.githubusercontent.com/1821666/135149235-8463913f-c4b8-429b-b3ff-a0e534a21181.png)

[2021-09-28 19:14] dkent600 commented on #194
I have removed the check for the image file extension.  I think that since we are now now displaying the image, and detecting whether it was possible to display it, there is no longer a need to check for the file extension.

The problem is that some people (like Koletivo) are supplying token urls that have no file extension (example:  "https://gateway.pinata.cloud/ipfs/QmVChZZtAijsiTnMRFb6ziQLnRoc

[2021-09-28 20:24] dkent600 commented on #221
Could be due to this:

Problem is:

The ABI we've getting from contracts-v2 for SeedFactory differs from the actual contract, for deploySeed the ABI for _fee is:

              "internalType": "uint8",
              "name": "_fee",
              "type": "uint8"

But in the contract is uint256 _fee

It is wrong for rinkeby, but appears to be correct for mainnet.

[2021-09-28 20:47] renc-curvelabs commented on #217
Providing the links as discussed:

Deals: https://www.prime.xyz/deals
Rating: https://www.prime.xyz/rating
Pools: https://www.prime.xyz/pools

[2021-09-29 09:18] BartuCulha opened #227 "Seed Overview, move address icon to right"

[2021-09-29 09:25] BartuCulha opened #228 "Seed Overview: Display Project Token Icon under Project Token Address"

[2021-09-29 09:35] BartuCulha commented on #204
This issue reoccurs in Mainnet, @dkent600

[2021-09-29 10:40] BartuCulha commented on #164
![Home _ PrimeLaun](https://user-images.githubusercontent.com/24368665/135251066-dc88efca-f224-4cbb-ac68-198712cff17c.png)

Main Tabs:
- [ ] Launch, Pools, Rating and Deals should have this color:  #F9F6F9
- [ ] Launch is not in an active state. It should have a pink colored bar at the bottom and without the background color.
- [ ] Hovering over should only change the tabs background color. We sho

[2021-09-29 10:48] BartuCulha opened #230 "Provide a copy for End Date"

[2021-09-29 11:16] BartuCulha commented on #230
@renc-curvelabs
how about:
Please keep in mind that a liquidity bootstrapping pool cannot last longer than 30 days

[2021-09-29 12:14] dkent600 commented on #164
indeed I screwed some of that up, sorry

[2021-09-29 12:23] dkent600 commented on #204
I am not deploying to mainnet.  Please don't test there.  When I announce deployments I am being clear whether I'm deploying to mainnet or the test site.

If you have a specific need to test on mainnet, just ask.  When we get closer to release I'll probably start deploying to mainnet more often anyways.

[2021-09-29 20:50] dkent600 commented on #164
Note that top-level menu items are never in an active state except for during mouse down.

[2021-09-30 19:04] dkent600 opened #234 "Pull in LBP Contracts"

[2021-09-30 19:05] dkent600 opened #235 "Fix dropdown menu animation/performance"

[2021-09-30 19:05] dkent600 opened #236 "Eliminate redundant code in LBP wizard"

[2021-09-30 19:05] dkent600 opened #237 "Implement Submit in LBP wizard"

[2021-09-30 19:07] dkent600 opened #238 "Dropdown on Seed Admin has display glitch"

[2021-09-30 19:11] dkent600 commented on #187
Ideal User Flow:-

Admin comes to Prime Launch
Clicks on LBP Launch
Admin Fills out the form.
Clicks on Submit
Transaction Request Sent to PrimeDAO’s Gnosis Safe.
PrimeDAO confirms the transaction.
Admin is notified.
Admin comes to Prime Launch Admin Panel.
Transfers required amount to the LBPWrapper.
Clicks on FundPool/Add Liquidity and adds liquidity to LBP. BPT/Pool Tokens   are help by LBPWrap

[2021-09-30 19:12] dkent600 commented on #208
this is a dup of #187

[2021-09-30 19:12] #208 closed

[2021-09-30 19:17] dkent600 opened #239 "Add Preview section to LBP wizard stage 4"

[2021-10-01 08:50] renc-curvelabs commented on #230
Good start. Let's go with:

"Please note that a Liquidity Bootstrapping Pool cannot last longer than 30 days."

[2021-10-01 13:44] BartuCulha opened #241 "Select a package: Tick Symbol should be a bit more smaller"

[2021-10-01 13:49] BartuCulha opened #242 "Registration Wizard: Stakeholder text needs padding to the left"

[2021-10-01 13:51] BartuCulha opened #243 "Registration Wizard: Start and End Date should be fully displayed"

[2021-10-01 14:04] BartuCulha opened #244 "Registration Wizard: Geoblock button needs adjustments"

[2021-10-01 16:48] dkent600 commented on #244
@giladt Caused by the addition of the LBP wizard?

[2021-10-01 16:50] dkent600 commented on #243
@giladt I thought already fixed this?  Maybe is waiting for the 2nd LBP wizard PR?

[2021-10-01 16:52] dkent600 commented on #241
changing to required

[2021-10-01 18:44] dkent600 opened #245 "nicer spinny icon for token select dropdown"
Can we put a little more space between the spinny icon and "Select", and give the icon some color, maybe $Secondary03-dev?

![image](https://user-images.githubusercontent.com/1821666/135671066-1f42b619-1173-4058-ba91-dfeb6abb43c4.png)

[2021-10-01 19:28] giladt commented on #243
yes it iss

Yes it is. The styles for Seed and LBP wizards are combined in this PR

[2021-10-01 20:04] dkent600 opened #246 "Need to know whether whitelist has been added"

[2021-10-01 20:23] dkent600 commented on #187
Should not have been closed when merging the PR.  Reopening.

[2021-10-01 20:27] dkent600 commented on #246
@renc-curvelabs Can you please triage?

[2021-10-01 21:04] dkent600 opened #247 "Bring navbar Connect button up to new spec"
See here for spec and discussion: https://github.com/PrimeDAO/prime-launch-dapp/issues/164

[2021-10-01 21:07] dkent600 opened #248 "Add link to Seed dashboard for the Admin dashboard"

[2021-10-01 21:11] dkent600 commented on #187
@BartuCulha Is currently accessible by manually browsing to /admin/seeds/dashboard

[2021-10-01 21:12] dkent600 commented on #187
Related:  https://github.com/PrimeDAO/prime-launch-dapp/issues/164

[2021-10-01 21:26] dkent600 opened #249 "Add project token price computations to LpbService"

[2021-10-02 08:55] renc-curvelabs commented on #246
_The Seed contract does not allow us to know whether anyone has been whitelisted, like, to confirm that the whitelist has been added._

Can't this be confirmed from the registration wizard whether a user have chosen to upload a whitelist or not?

_I think it might also be fair that we should prevent a seed from being usable until the whitelist has been added._

I am not sure what you mean by this

[2021-10-02 08:57] renc-curvelabs commented on #230
Let's move this to Accepted, documented it and share it with with Gilad who is working on the wizard.

[2021-10-02 09:04] renc-curvelabs commented on #171
@dkent600 Can you let me know if this is still relevant?

[2021-10-02 09:04] renc-curvelabs commented on #170
@dkent600 Can you let me know if this is still relevant?

[2021-10-02 09:50] BartuCulha opened #250 "Typo in Host a launch documentation"

[2021-10-02 12:19] renc-curvelabs commented on #248
As mentioned - this will only be visible when the user is admin:

Admin Dashboard
Access the Admin Dashboard to carry out administrative actions for your project such as; funding your seed, managing your whitelist, retrieving project tokens, withdrawing funding tokens, pausing and closing your seed.

Button: Access

Below is the screenshot of the design - which can also be found in the link:
https

[2021-10-02 16:12] dkent600 commented on #246
No. Two different things: specifying there is supposed to be a whitelist, and submitting a whitelist (or just whitelisting someone).  Recall that the latter is something the admin must do if a whitelist is required.

This question is only relevant to Seeds that have specifying they want a whitelist.

[2021-10-02 16:20] dkent600 opened #251 "allow empty whitelists"

[2021-10-02 16:24] dkent600 commented on #251
@renc-curvelabs can you please approve of this concept (or not) and dispatch this ticket accordingly?  THanks!

[2021-10-04 08:13] BartuCulha opened #255 "Geoblock button should change color when toggled off"

[2021-10-04 08:23] renc-curvelabs commented on #251
Approved - However I think it is an edge case, I will mark it as optional for launch

[2021-10-04 09:26] giladt commented on #242
@BartuCulha @dkent600 this issue seems to be already fixed somewhere along the way- input boxes have now padding which both make it the same size as the other input boxes and also force a space.

Can be tested again by next deployment.

[2021-10-04 13:47] BartuCulha opened #257 "Dropdown in Admin dashboard should show last created seed first"

[2021-10-04 13:51] BartuCulha opened #258 "If Project Token and Funding Token are the same address, do not proceed to the next stage"

[2021-10-04 14:26] BartuCulha opened #259 "Disclaimer: Text needs padding"

[2021-10-04 14:32] BartuCulha commented on #259
Please let me know if you need me to create a new seed with legal disclaimer.

[2021-10-04 14:32] renc-curvelabs commented on #258
"Funding Token and Project Token cannot be same." is good enough

[2021-10-04 14:36] BartuCulha opened #260 "Admin Dashboard: Retrieve Project Tokens should be visible when the vesting period ends"

[2021-10-04 14:54] BartuCulha opened #261 "Admin Dashboard: Align Buttons with the Text"

[2021-10-04 15:00] giladt opened #262 "Navbar is aligned to the left, and won't fill view width on Firefox"
![image](https://user-images.githubusercontent.com/2517870/135874875-59dc55d1-37c4-40f0-8362-be41756b6f80.png)

[2021-10-04 15:13] BartuCulha opened #263 "Admin Dashbaord: I should be able to connect my wallet"

[2021-10-04 17:13] dkent600 commented on #263
@BartuCulha Worked fine for me:

1) go to the admin page and wait for it to be loaded
2) click on the admin page Connect button
3) submit my password to metamask and click "Unlock"
Result:
The admin dashboard correctly, automatically refreshes and shows the buttons, etc.

[2021-10-04 17:30] dkent600 commented on #260
@BartuCulha I am thinking you may be confusing claiming and retrieving.  The admin retrieve button should give back all the project tokens that have not been purchased.  The amount you have purchased, locked or not, is not included in that amount.

The admin UI should be telling you how many tokens that would be.  What did it tell you?  According to your repro steps, it should say "0" but in fact,

[2021-10-04 17:40] dkent600 commented on #257
@BartuCulha Lacking reasoning for this, am setting to optional.  Indicate here if you disagree.

[2021-10-04 17:42] dkent600 commented on #261
Personally I like how the buttons are indented, it helps the eye parse the grouping and logic.

[2021-10-04 17:45] dkent600 commented on #236
@giladt Can you please own this and set up a meeting to discuss? Thanks!

[2021-10-04 17:54] giladt commented on #236
@dkent600 Sure. Is it prioritized as optional or required?

[2021-10-05 02:08] dkent600 opened #265 "ContractServices reinitializes too often"

[2021-10-05 03:05] dkent600 commented on #248
The mock given above is out-of-date.  I adjusted the look accordingly (like the color of the heading)

[2021-10-05 19:59] dkent600 opened #266 "provide link to launch admin page for uninitialized launches"

[2021-10-05 20:13] dkent600 opened #267 "improve appearance of social icons on seed dashboard"

[2021-10-05 20:46] dkent600 opened #268 "Enable Feature Launches to show Lbps"

[2021-10-05 22:13] dkent600 commented on #246
Awaiting change to Seed contract to enable us to work this.  @codebuster22

Will be a boolean in the Seed contract that indicates whether the batchWhitelist has ever been invoked.

We use that to enable access to the seedDashboard (as part of computing the UNINITIALIZED state)

And we use it in the seed admin dashboard:  When false we show the button to add the whitelist.  When true we show the bu

[2021-10-05 22:15] dkent600 commented on #247
Is a dup of https://github.com/PrimeDAO/prime-launch-dapp/issues/165

[2021-10-05 22:15] #247 closed

[2021-10-06 08:39] renc-curvelabs commented on #230
@BartuCulha up

[2021-10-06 08:39] renc-curvelabs commented on #211
Hi Ez - any updates here? Thanks!

[2021-10-06 09:43] dkent600 commented on #230
@BartuCulha "sharing with Gilad" is not our work flow :-)  @renc-curvelabs

Please either repurpose this ticket (and unassign it) or create a new one, and put the result in Needs Triage.  I'll take it from there as far as parceling out the work.. Thanks!

[2021-10-06 09:45] dkent600 commented on #266
@renc-curvelabs

I gave two suggestions in the description of this ticket.  Either the entire row or the text  "UNINITIALIZED"

[2021-10-06 13:11] BartuCulha opened #271 "Registration Wizard: Select Media Dropdown should not overlap"

[2021-10-06 13:54] BartuCulha opened #272 "Thank you Page: Admin Dashboard should lead user to the new link"

[2021-10-06 14:10] BartuCulha opened #273 "Admin Dashboard: Retrieve Project Tokens should be 0 if the amount of project tokens left is 0%"
In the seed dashboard project tokens left is set to 0%
However the admin is able to retrieve 8.92 Prime tokens through the Admin Dashboard.
The admin retrieve button should give back all the project tokens that have not been purchased

For this particular example:
Retrieve Project Tokens should be 0 if the amount of project tokens left is 0%
![SEED-Dashboard-PrimeLaunch (4)](https://user-images.gi

[2021-10-06 14:26] dkent600 commented on #272
@BartuCulha I don't see what you're talking about in the screenshot you provided

[2021-10-06 14:30] dkent600 commented on #230
@BartuCulha there are no instructions for how to lay this out.  Is there supposed to be a ? tooltip or something?

[2021-10-06 15:20] dkent600 commented on #260
@BartuCulha Is this not a dup of https://github.com/PrimeDAO/prime-launch-dapp/issues/273 ?

[2021-10-06 15:57] BartuCulha commented on #260
No, this one is about the button being visible in the dashboard. I have created another issue which is  #273 which is about displaying the  correct amount of retrievable tokens

[2021-10-06 19:25] dkent600 opened #274 "Connected state should change when locking the account in metamask"

[2021-10-06 21:55] dkent600 opened #275 "Issue modal message after Unlocking"

[2021-10-06 22:25] dkent600 opened #276 "Set up skeleton for lbpDashboard page"
This can maybe facilitate having multiple people working on the LBP dashboard at the same time.

[2021-10-07 03:09] dkent600 commented on #268
Done except for having LBP contracts and real instances to test with, and having a mock for the LBP card

[2021-10-07 09:38] BartuCulha opened #281 "Reg. Wizard: Align Start & End Time Tooltip with the titles"
Please adjust the position of the tooltip icons so they are positioned next to "(GMT)"

![Launch-Details-Register-New-LBP-PrimeLaunch](https://user-images.githubusercontent.com/24368665/136523997-91bf0f6d-493e-4de8-9ca1-3e1b0188703c.png)

[2021-10-07 09:44] BartuCulha opened #282 "Launches: PRIME and USDC should not increase the row's border"
Go to Launches: https://primelaunchtest.primedao.io/launches
Hover over "Testing Vesting inside Admin Dashboard" seed.
You'll notice that PRIME has a larger border than the rest.
This also happens with USDC

![photo_2021-10-07_12-40-00](https://user-images.githubusercontent.com/24368665/136360885-eda79e20-a3e4-44b9-9679-c44aceb270ca.jpg)

Ps. Thanks to @testing-life for finding this bug!

[2021-10-07 09:50] BartuCulha opened #283 "Launches: Table should have a larger border if the seed has 2 different statuses"
Go to Launches: https://primelaunchtest.primedao.io/launches
Hover over "Testing Geoblock" seed.
You'll notice that the border for the Starts column is larger than the rest.
Please increase the border so it has the same height all around.

![Launches-PrimeLaunch (1)](https://user-images.githubusercontent.com/24368665/136361680-5b6d6aba-0a1d-497d-b61d-67d4d39edd8b.png)

[2021-10-07 10:35] BartuCulha opened #284 "Select a package: Learn more should open in a new tab"
Navigate here: https://primelaunchtest.primedao.io/newSeed/selectPackage
In terms of UX, I think it would be better for the user if Learn More button opens in a new tab. Select a package page is important and we don't want the user to lose that page.

![Select-Your-Package-PrimeLaunch](https://user-images.githubusercontent.com/24368665/136368350-f24da45e-57e4-446b-bfc1-9b64658bd311.png)

[2021-10-07 10:38] BartuCulha opened #285 "Reg. Wizard: Character Limit Counter should be vertically aligned with the input field"
This issue occurs in:
https://primelaunchtest.primedao.io/newSeed/
https://primelaunchtest.primedao.io/newSeed/stage2
https://primelaunchtest.primedao.io/newSeed/stage5

Please vertically align the character limit counter with the input field below it so it doesn't overflow to the right.

![Contact-Details-Register-New-SEED-PrimeLaunch](https://user-images.githubusercontent.com/24368665/136369047-

[2021-10-07 10:57] BartuCulha opened #288 "Reg Wizard: Vesting and Seed Schedule Subtitles should have the same amount of space below them as the rest of the subtitles"
Vesting and Seed schedule titles have more space between the text below them. In order to have the same design pattern please reduce the space between the subtitles and the text below them.

Navigate here:
https://primelaunchtest.primedao.io/newSeed/stage4

![SEED-Details-Register-New-SEED-PrimeLaunch (8)](https://user-images.githubusercontent.com/24368665/136371416-50fdd153-00e0-4359-8287-cdb1bcf

[2021-10-07 11:16] BartuCulha opened #289 "Increase font-size of Subtext class by 1 px globally"
Please increase the font-size of subtext class by 1px so it's 14px. This will make the text more readable

![Home-PrimeLaunch](https://user-images.githubusercontent.com/24368665/136374220-31d902de-b7b5-4901-b2f4-17c156afa08c.png)
![SEED-Dashboard-PrimeLaunch (5)](https://user-images.githubusercontent.com/24368665/136374231-d953b56f-c7e1-4328-843e-68159190d48b.png)

[2021-10-07 11:46] BartuCulha opened #290 "Mobile users should not be able to scroll the page to left or to right on Mobile"

[2021-10-07 11:50] BartuCulha opened #291 "Seed Dashboard: Increase the font-weight of tokenPrice to 500"
Navigate to Seed Dashboard:
https://primelaunchtest.primedao.io/seed/0xd691BF996D6d2aA61445C28D37cfDDfbCAA56750

I think I have reported this before but increasing the font weight to 500 looks way better in my opinion.
Here's the default version:
![SEED-Dashboard-PrimeLaunch (7)](https://user-images.githubusercontent.com/24368665/136378797-31abf93f-e80e-430a-afd8-6c928eec862d.png)

here the font w

[2021-10-07 11:58] BartuCulha opened #292 "Seed Dashboard: Cannot Read Token names inside tokenPrice div"
Navigate here: https://primelaunchtest.primedao.io/seed/0x3E6cf7C98fB20e627752BD1739db89D40d629620

Tested this with Iphone 12 pro max on Safari. I was unable to see the token names.

However it is visible on other phones such as samsung s21, iphone X and lesser.

![WhatsApp Image 2021-10-07 at 14 39 24 (3)](https://user-images.githubusercontent.com/24368665/136380101-576f922f-edaa-498e-ab58-b6ba7

[2021-10-07 12:03] BartuCulha opened #293 "Increase the size of the token pair"

[2021-10-07 12:09] BartuCulha opened #294 "Stage Sidebar: adjust numbers within the sidebar"
- [x] Decrease the size of the numbers, 17px or 18px looks good in my opinion
- [x] Number for is not aligned to the center, it tilts a bit to the right.

![WhatsApp Image 2021-10-07 at 14 39 24 (4)](https://user-images.githubusercontent.com/24368665/136381446-288a72f7-2f1d-4060-897c-58c1dfcfa440.jpeg)

[2021-10-07 12:13] BartuCulha opened #295 "Stage Sidebar: Increase the line between the stages"

[2021-10-07 12:19] BartuCulha opened #296 "Seed Dashboard: tokenPrice font-size should be consistent throughout all screens"
Navigate to the seed dashboard:
https://primelaunchtest.primedao.io/seed/0xd691BF996D6d2aA61445C28D37cfDDfbCAA56750

Font-size of the token names inside the tokenPrice div should be consistent across all screens. Ideally it should act same as other texts.

Here's how it looks on a smaller screen:
![SEED-Dashboard-PrimeLaunch (11)](https://user-images.githubusercontent.com/24368665/136383148-e5b400

[2021-10-07 12:35] BartuCulha opened #297 "Reg. Wizard: trash can icon should be on the third row, left-justified"
Navigate here on your mobile:
https://primelaunchtest.primedao.io/newSeed/stage3
Click add stakeholder
Trash can icon should be on the third row, left-justified.

![WhatsApp Image 2021-10-07 at 14 39 24 (5)](https://user-images.githubusercontent.com/24368665/136385117-4e7f956a-709b-40a4-9865-ab7606e7cb44.jpeg)

[2021-10-07 12:39] BartuCulha opened #298 "Reg. Wizard: "Select a token" Dropdown should be vertically aligned"
This issue does not happen on every mobile devices. It is reproduceable using Iphone 6,7,8 plus, Iphone 12 pro max, Pixel, Pixel 2 XL.

Navigate here:
https://primelaunchtest.primedao.io/newSeed/stage4

Please fix the positioning for the "select a token dropdown" for every mobile device
![WhatsApp Image 2021-10-07 at 14 39 24 (6)](https://user-images.githubusercontent.com/24368665/136386002-060a18

[2021-10-07 12:43] BartuCulha opened #299 "Reg. Wizard: Project Token Exchange Ratio needs adjustments"
We need to adjust exchange ratio section, so it looks visually appealing.

result:
![WhatsApp Image 2021-10-07 at 14 39 24 (6)](https://user-images.githubusercontent.com/24368665/136386369-9148f612-0921-42f0-9436-f1117d6a2ca6.jpeg)

Expected:
![SEED-Details-Register-New-SEED-PrimeLaunch (9)](https://user-images.githubusercontent.com/24368665/136771906-bbdfae08-1187-4f58-b304-b10a638f41a7.png)

[2021-10-07 12:46] BartuCulha opened #300 "Reg Wizard: "Connect to get your wallet address" button needs to be vertically aligned"
Navigate here using your mobile:
https://primelaunchtest.primedao.io/newSeed/stage4

"Connect to get your wallet address" button is tilted slight to the right, Please align it with the rest of the elements

![WhatsApp Image 2021-10-07 at 14 39 24 (7)](https://user-images.githubusercontent.com/24368665/136386937-31436fec-03a8-4fa0-aae0-10a16e0a469f.jpeg)

[2021-10-07 13:13] BartuCulha commented on #291
You are right, mock is regular.

[2021-10-07 20:02] dkent600 opened #302 "Remove redundant code in documentation"
The documentation page system has a lot of redundant code.  I finally figured out how to remove it.  It should be easy using auralia's [compose ](https://aurelia.io/docs/templating/basics#composition)tag.

[2021-10-08 00:25] dkent600 commented on #298
@BartuCulha Can you please provide a screenshot? Thanks!

[2021-10-08 00:37] dkent600 commented on #281
@BartuCulha Can you please supply a screenshot?  Thanks!

[2021-10-08 00:39] dkent600 commented on #300
@BartuCulha Can you please confirm whether you mean horizontally aligned?

[2021-10-08 00:40] dkent600 commented on #297
@BartuCulha I think you mean horizontally-aligned, yes?

[2021-10-08 00:45] dkent600 commented on #273
The example given here is not apropo because if the amount is 0 then the button group should not be visible at all.  But the main point is well-taken:  The amount shown needs to correctly portray the amount that will be retrieved, which is the amount that remains unpurchased in the contract..

[2021-10-08 00:47] dkent600 opened #303 "Enable Launches page to show LBP launches"

[2021-10-08 08:07] BartuCulha commented on #298
Yes👍

[2021-10-08 10:07] testing-life opened #304 "Pre-commit safety measures"
We need to find a way to prevent faulty/unformatted code from finding its way into the repo. Proposed solutions are a combination of git hooks (Husky) and linter. One potential idea is to run `npm run lint` and `npm run build` on `pre-commit` hook and return 0 on any failures, Other options may be possible.

[2021-10-08 10:13] testing-life opened #305 "Automate code check on commit"

[2021-10-08 11:02] BartuCulha opened #306 "PrimeDAO Legal Disclaimer: Button should have the same height"
Steps to reproduce:
Connect your wallet for the first time to receive Legal Disclaimer pop up

Decline Button is slightly larger than accept button, please decrease the height of the Decline button so it is has the same height with the Accept button.

![Home-PrimeLaunch (3)](https://user-images.githubusercontent.com/24368665/136546234-a9b847cd-7cef-4d2e-906e-aebca2f516c0.png)

[2021-10-08 11:37] BartuCulha opened #307 "Navbar should stretch across the page while usingFirefox"

[2021-10-08 11:42] BartuCulha opened #308 "Launch Page: Request Information link inside Liquid Launch card needs padding"
Navigate here: https://primelaunchtest.primedao.io/launch

Please add padding to "Request Information" button inside the liquid launch card.
![Host a Launch _  (1)](https://user-images.githubusercontent.com/24368665/136551070-b621ad2f-2fbf-4d3d-ab0c-b916a59fd542.png)

[2021-10-08 11:47] BartuCulha opened #309 "Request information link should not display a blue underline when hovered over using Firefox"
navigate to the homepage or the launch page:
https://primelaunchtest.primedao.io/
https://primelaunchtest.primedao.io/launch

Hover over the request information link to see the blue underline using Firefox
Please remove that decoration for all links

![Home-PrimeLaunch](https://user-images.githubusercontent.com/24368665/136551548-282a8998-58f1-4e05-8c31-9ef81385c7ab.png)

[2021-10-08 11:54] BartuCulha opened #310 "Stage Sidebar should have smaller numbers and same css for the fonts while using Firefox"
- [ ] Please adjsut the CSS for the numbers. It should look same as Chrome View.
- [ ] Please adjust the CSS for the text. It should look same as Chrome view.

I might be wrong but it looks like the font-weight for both numbers and texts are different on Firefox and Chrome

Firefox:
![Screenshot 2021-10-08 at 14-52-31 General Information Register New SEED PrimeLaunch](https://user-images.githubuse

[2021-10-08 12:10] BartuCulha opened #311 "Admin Dashboard: Buttons next to the input fields should be centered."
Navigate to: https://primelaunchtest.primedao.io/admin/seeds/dashboard

The buttons are positioned lower than the input fields.
They should be repositioned vertically so they are aligned with the center of the input field

![Screenshot 2021-10-08 at 15-09-24 Administer a Seed Launch PrimeLaunch](https://user-images.githubusercontent.com/24368665/136554546-63ba6967-17e2-43be-8411-0d4be771b115.png)

[2021-10-08 12:15] BartuCulha opened #312 "Admin Dashboard: Error messages should warn the user about what is wrong"

[2021-10-08 12:56] BartuCulha opened #313 "Seed Dashoard: Equals symbol in the Contribute section should be "=""
According to the mock, there should be a "=" symbol and not a "=>" between the two input fields

![SEED-Dashboard-PrimeLaunch (12)](https://user-images.githubusercontent.com/24368665/136560782-23ac1568-f242-4b33-822b-8396592f219f.png)

[2021-10-08 12:59] BartuCulha opened #314 "Question Mark Icons should be aligned with the text"

[2021-10-08 13:11] BartuCulha opened #315 "Disconnecting a Wallet through Metamask should automatically disconnect the wallet from the UI"
Steps to reproduce:
connect your wallet using metamask
open  metamask extension, disconnect your wallet from there

The UI should automatically disconnect my wallet and the user should be able to see "connect your wallet" button again.

[2021-10-08 13:33] BartuCulha opened #316 "Launches: Seed's Background border should not have a space in between"

[2021-10-08 13:47] dkent600 commented on #304
also `npm run test`

[2021-10-08 14:05] BartuCulha commented on #308
This is how it looks on Safari using macbook air 13"" (full screen)
 responsiveness of these links  and cards needs to be improved, I'll create a seperate issue for the responsiveness problem

![Host-a-Launch-PrimeLaunch](https://user-images.githubusercontent.com/24368665/136570740-7c2fb886-896d-420d-99a5-2434ae63232a.png)

[2021-10-08 14:06] BartuCulha opened #317 "Launch Page: Improve the responsivess of the cards"
These boxes shouldn't get stretched when changing the screen size.

Can we have a fixed width for these boxes maybe that can solve this issue?

https://user-images.githubusercontent.com/24368665/136579203-e2ea5f10-43e4-4d9b-88ef-4e1f40e271ed.mp4

[2021-10-08 15:08] BartuCulha opened #319 "Seed Dashboard: Each section should have the same width"
To improve the UI, please make Administrator Dashboard's and About Project Name's width same as other sections.

![SEED Dashboard _](https://user-images.githubusercontent.com/24368665/136580570-dec23c09-06d7-48cf-b101-bf3fc37ddcfd.png)

[2021-10-08 15:13] BartuCulha opened #320 "Seed Dashboard: About section needs space at the bottom and social media links should be repositioned"
- [ ] Please add a space between About section and Administration Dashboard
- [ ] Can we have 2 (3 if possible) social media links side by side in a single row. Once these links touches the border, they can go the next row.

![SEED Dashboard _ (1)](https://user-images.githubusercontent.com/24368665/136581314-fb352468-063b-4d0a-b574-7b892f37aa98.png)

- [ ] Align text and social media links to left

[2021-10-08 15:23] dkent600 commented on #317
Honestly I don't agree with this request enough to approve working on it at this point.  In any case, should've been mocked a long time ago...

[2021-10-08 15:33] dkent600 commented on #316
fix these at the same time:

https://github.com/PrimeDAO/prime-launch-dapp/issues/282
https://github.com/PrimeDAO/prime-launch-dapp/issues/283

[2021-10-08 15:38] dkent600 commented on #320
This is mobile-only.

Yes to adding gap, no, sorry, to changing the layout of the links.  Too late.

[2021-10-08 15:45] dkent600 commented on #307
this is a dup of:  https://github.com/PrimeDAO/prime-launch-dapp/issues/262

[2021-10-08 16:02] BartuCulha opened #321 "Admin should retrieve project tokens through the admin dashboard if the seed is incomplete"
Navigate here: https://primelaunchtest.primedao.io/seed/0x01852b3EaDADE9Fdc0Bc95215c8a0481121c4C4A
This seed is incompete but it is funded.

I do not see the retrieve project tokens button inside the admin dashboard

[2021-10-08 20:59] dkent600 commented on #291
So unless there is more clamor to change this, I am inclined to leave it as mocked.  @renc-curvelabs

[2021-10-08 21:31] dkent600 commented on #310
OK, further to the above, I ended up solving this much better, though with a higher download footprint for the app, by importing the static, rather than variable, font files for the Inter font, and cleaning up how we specify font weights.   Looks MUCH better for the entire application, and is 100% consistent with firefox now.

[2021-10-09 09:20] renc-curvelabs commented on #274
my initial thought is:

- this is an edge case
- this is a metamask issue
- should not be required

i am not even sure if we should spend resources on this

[2021-10-09 16:34] giladt opened #323 "Convert Legal Disclaimer field from checkbox into text input field."
The legal disclaimer field in LBP Wizard stage 4 should be similar to the one in the Seed Wizard:

![image](https://user-images.githubusercontent.com/2517870/136666812-60c2c299-1e5b-4d0c-a29f-fc1176e44b16.png)

[2021-10-09 16:39] giladt opened #324 "Cleanup for wizardState doesn't properly"
Cleanup for fundingToken / projectToken in the wizardState is not working after submitting the seed. Resulting in prefilled tokens in the wizard when navigating back.

![image](https://user-images.githubusercontent.com/2517870/136666920-c9d8bac1-98a5-4374-8307-1ce8b2b5dcec.png)

![image](https://user-images.githubusercontent.com/2517870/136666908-c4f2eda1-1f1f-41ab-9df2-da511e929605.png)

[2021-10-09 18:51] dkent600 commented on #274
Not quite fair to say "this is  metamask issue" because we can perfectly well supply a "Disconnect" button in the dapp.  Other apps do this (like Alchemy).

It is not just "an edge case" because there are multiple use cases involved.

[2021-10-10 13:34] dkent600 commented on #258
Not so good if what they entered for project is actually what they wanted for funding, then they need to see this token available in the funding dropdown.

[2021-10-11 07:26] codebuster22 commented on #273
Here, "Project tokens left" is the percentage of project tokens that are left for distribution. But the amount we see on the admin page at section "Retrieve Project Tokens" is the number of tokens that can be retrieved by the admin. We might have a scenario where the admin has funded the contract more than once, that is project tokens required for distribution is less than the project token balanc

[2021-10-11 09:10] renc-curvelabs commented on #226
Any updates? @BartuCulha

[2021-10-11 11:37] BartuCulha opened #329 "Reg. Wizard: On stage 4 changing the Funding Token should not reset the values entered after"

[2021-10-11 11:44] BartuCulha opened #330 "Thank you page: Font family of "Please save this URL" text shoud be Inter"
I might be wrong but it looks like the font weight of the text, breaks the font-family.

![Thank-you-Register-New-SEED-PrimeLaunch (2)](https://user-images.githubusercontent.com/24368665/136784720-da8e7967-aabe-478b-9c51-9cfd152a5ec0.png)

[2021-10-11 11:49] BartuCulha opened #331 "Thank you page should fit to mobile screens"
Please make thank you page fit to mobile screens

![Thank-you-Register-New-SEED-PrimeLaunch (1)](https://user-images.githubusercontent.com/24368665/136785212-d10b3464-f3cb-4513-a067-e4b97a61e89c.png)

[2021-10-11 15:08] BartuCulha commented on #226
here's the figma update:
https://www.figma.com/file/IIaSi96Paa9amdOUQ3NASZ/Prime-Launch-LBP-Developer-Handoff?node-id=1%3A1818
@renc-curvelabs @dkent600

[2021-10-12 03:52] dkent600 opened #334 "remove hr from lbp stage4"

[2021-10-12 03:56] dkent600 opened #335 "message needs clarification"
This message will cause consternation.  Should read something like:  "Please select a Project Token in Stage 3 - Project Tokens".  Make sure it looks OK on mobile.

![image](https://user-images.githubusercontent.com/1821666/136888816-727e11de-94a3-4768-9951-fa62d7544cf6.png)

[2021-10-12 03:59] dkent600 opened #336 "should clear project token value when project token changes"
When the project token changes on stage 3, we should clear the number of project tokens on stage 4.  If the two tokens have a different number of decimals, you can end up with something weird like this number that was entered as "333".

I'm not sure what is the best way to implement this.  Maybe eventAggregator.  Maybe better making the value observable.

![image](https://user-images.githubusercon

[2021-10-12 04:18] dkent600 commented on #329
I changed the behavior so it clears those values.

[2021-10-12 04:38] dkent600 opened #337 "Previous button doesn't work"
Clicking on the "Previous" button on stage 7 does nothing.  Should go to Stage 6.

[2021-10-12 04:41] #337 closed

[2021-10-12 04:45] dkent600 opened #338 "Wizard should save custom token info for project token"
The manually-entered project token info needs to be save with the registration data so that signers and perhaps the dapp can have the information about the token.

[2021-10-12 05:49] dkent600 commented on #338
Mostly done, but still need to show the information on stage 6

[2021-10-12 13:48] dkent600 commented on #292
Recommend we wait until the stacks css issue is fixed before spending more time on this.

[2021-10-14 09:48] testing-life opened #346 "Implement the stakeholder token distribution in the LBP dashboard"
### Token Distribution

![Prime Launch LBP (10).png](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/92f7cd79-9059-4591-a568-03653b45c822/Prime_Launch_LBP_(10).png)

**(Optional)**

Data comes from Registration Wizard

Hovering over each section:

-should change its color

- should change what is displayed in the center with the relevant data
- should change what is highlighted at the

[2021-10-15 08:44] codebuster22 commented on #246
Here - https://github.com/PrimeDAO/contracts-v2/pull/175

[2021-10-15 11:02] dkent600 commented on #268
Done, just needs some launches to prove it...

[2021-10-15 21:22] dkent600 opened #347 "need padding in weights slider feedback"
Between weights.  Make sure it looks ok on mobile.

![image](https://user-images.githubusercontent.com/1821666/137555092-78816b86-a51b-4efb-b124-57b161e9f44f.png)

[2021-10-16 16:53] dkent600 opened #348 "Launches status should automatically update after funding"

[2021-10-16 16:54] dkent600 opened #349 "Display link to the launch in the launch's admin page"
...so is easy to get to the launch's dashboard page.  Only if initialized.

Should be for both Seed and Admin "dashboard" pages.

[2021-10-16 17:00] dkent600 commented on #303
The page doesn't look like anything, but you can get to it.  That is the goal of this ticket.

[2021-10-16 17:02] dkent600 opened #350 "Fixes for stages 7 and 8 for LBP and Seed"
Stage7 of the LBP wizard works, but has multiple issues.  Fix them.  Consider merging into a single page instead of two as it is now.

[2021-10-16 17:22] dkent600 commented on #350
This is one of the problems:  https://github.com/PrimeDAO/prime-launch-dapp/issues/272

[2021-10-16 17:22] dkent600 commented on #272
Fix this ticket as part of this one:  https://github.com/PrimeDAO/prime-launch-dapp/issues/350

[2021-10-16 17:24] dkent600 opened #351 "Implement LBP Admin page"

[2021-10-16 17:25] #351 closed

[2021-10-18 14:38] BartuCulha opened #353 "Cliff cannot be lesser than Vesting in Token Distribution"
Navigate here:
https://primelaunchtest.primedao.io/newSeed/stage3

Fill in previous input fields.
(Prime rinkeby address : 0x80E1B5fF7dAdf3FeE78F60D69eF1058FD979ca64 )
Click add stakeholder
Enter name and amount
Enter 1 for cliff and 0 for vesting

Cliff period cannot be lesser than vesting period, so we should throw an error message and block user from going to the next stage

![Token-Details-Reg

[2021-10-19 12:41] giladt opened #356 "Reg. Wizard: Stage Sidebar should collapse to the top on smaller screens"
Currently stays to the left also when screen size won't allow it:

![image](https://user-images.githubusercontent.com/2517870/137910914-988d931c-35fd-46c6-a607-bada7c30c0c8.png)

[2021-10-19 12:58] giladt commented on #356
Works now:

![image](https://user-images.githubusercontent.com/2517870/137913966-385ecba5-6c21-46e4-b719-0eb82c7db75a.png)

[2021-10-21 07:42] testing-life opened #359 "Project Token Information and Prime Rating"

[2021-10-21 13:21] dkent600 commented on #356
@BartuCulha I am moving this to the backlog since it apparently still needs attention from dev.  Code Complete means complete.

[2021-10-21 13:36] BartuCulha commented on #243
It is not solved, the input fields still has a gap in between. @dkent600

![image](https://user-images.githubusercontent.com/24368665/138288738-02a024e3-f73e-430f-a554-817108102275.png)

[2021-10-21 21:54] dkent600 opened #362 "Launch table should sort by launch type"
on the launches page, the launches table, click on the "TYPE" column header.  Should cause the rows to sort by type.  But it doesn't.

[2021-10-22 00:50] dkent600 commented on #225
Hmm, maybe this is done, good enough?

[2021-10-22 00:54] dkent600 commented on #336
I think this is working now.

[2021-10-22 01:24] dkent600 commented on #183
We now only need to obtain USD prices for funding tokens, and we know we can get those from coingecko.  So this ticket no longer is necessary.

[2021-10-22 01:27] dkent600 commented on #353
Actually, I think the problem is that you meant to say "cannot be greater than" instead of "cannot be less than"  @BartuCulha

[2021-10-22 09:28] dkent600 opened #363 "Populate projectTokenInfo.price"
Populate LbpManager `projectTokenInfo.price`.

The comment on this line indicates where to do it:

https://github.com/PrimeDAO/prime-launch-dapp/blob/c10905e3f5ef3c55a5f5fad0bad2be0506f41b1e/src/entities/LbpManager.ts#L171

[2021-10-22 09:50] BartuCulha opened #364 "Stage Sidebar Lines needs to be centered"
Please center the line to the middle.

![General-Information-Register-New-SEED-PrimeLaunch(1)](https://user-images.githubusercontent.com/24368665/138433832-8eb3b187-7550-4158-adbe-24cb2c0408c0.png)

[2021-10-22 12:59] BartuCulha opened #367 "Reg Wizard: Add Token Icon between token name and token symbol"
Navigate to step 6:
https://primelaunchtest.primedao.io/newLBP/stage6

Please add the token icon after the Token Symbol.
Should look like this:
Token Name, Token Icon Token Symbol

![LBP-Summary-Register-New-LBP-PrimeLaunch](https://user-images.githubusercontent.com/24368665/138457611-7f56becb-793d-48ef-88e6-4042bf0bfd8b.png)

[2021-10-22 13:03] BartuCulha opened #368 "Reg Wizard: Remove parentheses from the token symbol"
Navigate to step 6:
https://primelaunchtest.primedao.io/newLBP/stage6

If there is no particular reason for keeping the parentheses we should remove it from the Token Symbols

![LBP-Summary-Register-New-LBP-PrimeLaunch (1)](https://user-images.githubusercontent.com/24368665/138458290-25a4ad67-a669-4d51-b579-fe6d5093ca3b.png)

[2021-10-22 13:08] BartuCulha opened #369 "Reg Wizard: Titles should be larger than paragraphs"
![LBP-Summary-Register-New-LBP-PrimeLaunch (2)](https://user-images.githubusercontent.com/24368665/138458908-a21dfb16-e537-40d7-832e-c5abbc06adcf.png)

[2021-10-22 13:11] #369 closed, assigned to nobody

[2021-10-22 13:23] BartuCulha opened #370 "Reg Wizard: Project Token confirmation should tell the truth"
This only happens if user inputs a correct project token address first and later on changes it.

steps to reproduce:
Navigate to: https://primelaunchtest.primedao.io/newLBP/stage3
Enter a real address that works, and see the "looks good" text
Remove the address and write  anything you want.

![Token-Details-Register-New-LBP-PrimeLaunch](https://user-images.githubusercontent.com/24368665/138461009-

[2021-10-25 16:26] dkent600 opened #376 "Limited ways to get to launch admin page"
Current ways to get the the seed/launch admin dashboard pages:

1) click on a seed or a launch on the Launches page table
2) click on a seed or a launch in the Featured Launches slider
3) click on the admin page link in the seed or a launch dashboard page

In other words, you can only get to the page via a specific seed or launch.

You can't go to the page independently of a specific seed or launc

[2021-10-25 16:49] wantedsystem opened #377 "I cannot write in the Maximum Project Token Supply field"
I cannot write a number in the Maximum Project Token Supply field
![Capture d’écran 2021-10-25 à 18.41.52.png](https://images.zenhubusercontent.com/6167e939c5e87d10df46ce3a/ecf19d61-abba-4b44-bed8-0c859a7b5ea3)

and also in the Amount field of the stakeholder![Capture d’écran 2021-10-25 à 18.45.00.png](https://images.zenhubusercontent.com/6167e939c5e87d10df46ce3a/c1787dab-3b0b-43b1-8cea-fd6062

[2021-10-25 16:50] dkent600 opened #378 "Clean up github repo readm"
The readme is out-of-date, needs corrections and augmentations.

[2021-10-25 23:34] dkent600 opened #379 "Implement the LBP Dashboard form"

[2021-10-26 04:00] codebuster22 opened #380 "States required in LblManager.ts entity to work on LBP Admin Dashboard"
Following states are required to complete the LBP Admin Dashboard:-

- [x] for method `initializeLBP` - `poolFunded == false && initialized == true`
- [x] for `removeLiqudity` - `currentTime >= endTime && poolTokenBalance != 0`
- [x] setSwapEnabled - `currentTime >= startTime && currentTime <=endTime`

[2021-10-27 06:07] dkent600 opened #382 "need whitelist docs"
On the seed dashboard, the help text shown below needs "here" to be hot and direct to some documentation about whitelisting.  It is not hot, and we don't have any docs in the app dedicated to whitelisting.

![image](https://user-images.githubusercontent.com/1821666/139009341-8679fad5-7bb3-4a23-90e9-a002731ce008.png)

[2021-10-27 10:17] BartuCulha opened #385 "Changing Funding token address freezes the dapp"
Navigate here: https://primelaunchtest.primedao.io/newLBP/stage4

Pick a Funding token through dropdown
provide Number of tokens that to the LBP
Change the funding token through dropdown

Website will freeze.I think we are creating an infinite loop.

[2021-10-27 11:30] BartuCulha opened #386 "Clicking EtherScan link should navigate user to etherscan"
Navigate to launches:
https://primelaunchtest.primedao.io/launches

Pick a seed or launch and click the etherscan link.
1. You will land on the dashboard instead of etherscan website
2. you will receive the error:  "Sorry, an unexpected error occurred: Uncaught TypeError: Cannot read properties of undefined (reading 'address')"

What we want is:
1. Clicking the link should go to corresponding ethe

[2021-10-28 09:18] dkent600 opened #387 "Implement Price Impact in LBP Dashboard"
significant bit of work and not necessarily so important for the first MVP

[2021-10-28 15:45] giladt opened #388 "Weight Sliders should not get to extreme values- LBP Reg. Wizard stage 4"
The slider at stage 4 should not reach to 0% / 100%, otherwise causes errors and anyway make no sense.

@renc-curvelabs:
* Is there any defined minimum / maximum weight for the start/end weights?
* Current steps are in units of 1%. Means that the range can currently go from 1% to 99% (unless specified otherwise). Should we enable smaller steps (say 0.5% or 0.1% or 0.01%...)?

![image](https://user

[2021-10-28 17:05] giladt opened #389 "Start Time and End Time Input fields needs to be vertically aligned"
Reg. Wizard Stage 4 (LBP) - Unnecessary `vestingDateContainer` on end-date.

Currently, the time fields are not aligned:
![image](https://user-images.githubusercontent.com/2517870/139301678-41cc10e3-96ff-4d76-8c9a-af41e7426495.png)

Suggestion for repair:

- Remove the `vestingDatesContainer` wrapper div from **LBP** stage 4 html (End Date).
- Remove the `width` declaration from the `vestingDates`

[2021-10-29 05:36] dkent600 opened #390 "weights feedback still needs spacing"
![image](https://user-images.githubusercontent.com/1821666/139381422-ad17b03a-f8cd-4a97-adba-8e07496a9869.png)

[2021-10-29 06:00] dkent600 opened #391 "LBP stage 4 fails when Max Supply is not set"
STEPS:

1. go to the LBP wizard
2. on stage 3, don't fill in the Max Supply
3. go to stage 4 by clicking on the menu (not via the Next button)
4. fill in all the stage 4 values
5. click Next button

RESULT:
Nothing happens, one can see an error msg in the browser console

EXPECT:
A validation error message

[2021-10-29 08:51] giladt opened #392 "LBP-preview showing NaN and Infinite"
Needs validations when input is incomplete-

- No Token selected
- Amount input is empty
- Max supply is empty in stage 3

Needs update to the LbpProjectTokenPriceService- Remove BigNumber and use Ether values for amounts.

[2021-10-29 09:18] giladt opened #395 "Reg. Wizard - Launch Preview on stage 4 LBP, should update on any input change"
Currently updates only on token change, slider change and dates change.
Missing Time, Amounts and on stage load (attached)

[2021-10-29 13:20] BartuCulha opened #398 "Leaving Maximum Token Supply empty throw and error on the 4th stage"
We should throw an error and block the user from navigating to next stages if MAximum token supply is empty.

Case 1: Steps to reproduce:
Navigate to: https://primelaunchtest.primedao.io/newLBP/stage3
Provide a token project address
Leave Maximum Project Token (PRIME) Supply empty
From the sidebar navigate to stage 4
Fill in the empty fields
Click Next

You will notice that no error were shown and

[2021-10-29 13:29] BartuCulha opened #399 "Launch Administrator should be required"
Navigate to: https://primelaunchtest.primedao.io/newLBP/stage3
Fill in all the details but leave launch administrator empty.
Click next and go to stage 4
Fill in all the details but leave launch administrator empty.
Click next.

User must provide a launch administrator.

[2021-10-30 08:35] giladt commented on #243
Fixed after removing confetti element.

![image](https://user-images.githubusercontent.com/2517870/139526131-dcc5d2dc-f04b-431a-b9bb-31dc23836571.png)

[2021-10-30 09:03] dkent600 opened #403 "Launch should beLBP"

[2021-10-30 09:12] dkent600 commented on #347
This fix didn't work.  Replacing this ticket with this one having a suggested new spec:  https://github.com/PrimeDAO/prime-launch-dapp/issues/390

[2021-10-30 09:12] #347 closed

[2021-10-30 11:30] giladt commented on #364
I've added a small fix to mobile, moving back to `implementing`

[2021-10-30 21:09] dkent600 opened #405 "reduce number of high npm packagevulnerabilities"

[2021-10-31 21:06] dkent600 commented on #359
The token price history parts of this have yet to be implemented. @giladt Maybe you can look at this when you have a chance, since it relates to the price service?  See the `projectTokenInfo` element.

[2021-10-31 22:43] dkent600 opened #406 "Implement time remaining section of lbpDashboard"

[2021-10-31 22:47] dkent600 commented on #390
@testing-life Tried something for this, but it significantly changes the visual layout.  Dunno if we should take that, but here it is for consideration.

[2021-11-01 08:39] BartuCulha opened #407 "Start Time and End Time Input fields needs to be vertically aligned"
Navigate to: https://primelaunchtest.primedao.io/newLBP/stage4

Please move Start Time to the right so it's aligned with the End Time

![Launch-Details-Register-New-LBP-PrimeLaunch (2)](https://user-images.githubusercontent.com/24368665/139644896-ac68e144-bc15-48c5-b905-b120bab947bb.png)

[2021-11-01 08:50] dkent600 commented on #406
Need a spec on Total Supply.  Just a textual description of the spec will suffice, thanks.  @BartuCulha

[2021-11-01 08:51] dkent600 commented on #359
@giladt I just realized we can do the price history stuff here without help from the price service.  So I'll take this ticket back.

[2021-11-01 10:15] dkent600 opened #408 "update finding token prices regularly"

[2021-11-01 10:41] giladt commented on #407
duplicate of #389

[2021-11-01 11:44] dkent600 opened #409 "WETH logo url is busted in the tokenlist"

[2021-11-01 11:48] dkent600 commented on #409
This is what etherscan is using, but Kolektivo is preferring to use logos from IPFS.

https://etherscan.io/token/images/weth_28.png

[2021-11-01 15:24] dkent600 commented on #292
The stacks issue is fixed, so we should revisit this now.

[2021-11-01 17:30] dkent600 opened #412 "Token Distributions in LBP wizard must add up to 100%"

[2021-11-02 09:09] dkent600 opened #414 "Should not be possible to fund a seed that is closed"

[2021-11-02 10:36] renc-curvelabs commented on #406
Amount of project tokens supplied in the beginning. Pull it from the Balancer pool
Example: Now it says 145.000/230.000 - It should only say 230.000
It can come from the registration wizard where this amount must be provided

[2021-11-02 10:49] #170 closed

[2021-11-02 10:57] renc-curvelabs commented on #382
Remove "You can learn more..."

[2021-11-02 11:05] renc-curvelabs commented on #211
We need an explanation on the use of weights and LBP for this section.
It will be implemented in the following section:
![image](https://user-images.githubusercontent.com/79934562/139835274-487be16d-2594-4406-b3e2-118cfd72e290.png)

[2021-11-02 11:06] renc-curvelabs commented on #211
Launch Preview tooltip:

- Explanation on Implied Market Cap and Price Range.

[2021-11-02 13:32] dkent600 commented on #175
Use this: spacex-OHOU-5UVIYQ-unsplash.png

From:
https://drive.google.com/drive/folders/1Q8789XQGxGe85gYcS9m_oi5urKoHYq3h?usp=sharing

[2021-11-02 19:12] dkent600 opened #416 "implement geoblock in lbpdashboard"

[2021-11-02 19:12] dkent600 opened #417 "Implement disclaimer in lbpDashboard"

[2021-11-02 19:15] #416 closed

[2021-11-02 20:02] dkent600 opened #418 "Add Congratulations popup after buying LBP project tokens"

[2021-11-02 20:32] dkent600 commented on #359
Confirmed we need project token project history for this, just for the last hour.

[2021-11-02 20:35] dkent600 commented on #406
For average price we need price history data, same as the chart.

[2021-11-02 21:40] dkent600 commented on #380
I added `LbpManager.poolTokenBalance`

[2021-11-02 21:49] dkent600 opened #419 "Add MAX button to LBP form input"

[2021-11-02 21:49] dkent600 opened #420 "Feedback reason for blank input on large numbers"
When entering large numbers in the LBP Dashboard form, with a non-Lbp funding token, SOR will return a blank value for the estimated number of purchasable project tokens.  Discover why and feed back appropriately to the user.

[2021-11-03 09:00] dkent600 opened #421 "Get SOR working against rinkeby"

[2021-11-03 09:07] renc-curvelabs commented on #418
Yes!!

[2021-11-03 09:56] dkent600 opened #423 "Selected token is clipped by the dropdown menu"

[2021-11-03 09:56] dkent600 opened #424 "Add icons to Time Remaining in LBP Dashboard"

[2021-11-03 09:57] dkent600 opened #425 "At least one token distribution record should be required in the LBP registration"

[2021-11-03 10:43] dkent600 commented on #294
Th numbers actually *are* centered.  The only problem here is the line length.

[2021-11-03 15:47] renc-curvelabs commented on #403
If it needs to be short, we use LBP
If it can be longer, we use Liquid Launch

@BartuCulha

[2021-11-03 18:07] dkent600 opened #429 "Deploy contracts to mainnet"

[2021-11-03 18:50] dkent600 opened #430 "Implement theAbout section in the LBP Dashboard"

[2021-11-04 13:18] dkent600 commented on #420
Hoping to save time, I have posed the question to Balancer.

[2021-11-04 13:49] dkent600 opened #431 "implement lbp dashboard mobile responsiveness"

[2021-11-04 16:43] dkent600 opened #434 "validate for MAX_RATIO_IN on swapping"

[2021-11-05 08:46] BartuCulha commented on #349
I cannot see the link for both seed and lbp admin dashboard
![Uploading Administer an LB.png…]()

[2021-11-05 09:29] BartuCulha commented on #349
@dkent600 I think having the link down below should do it. what do you think?

[2021-11-05 09:33] BartuCulha commented on #349
![Administer a See (1)](https://user-images.githubusercontent.com/24368665/140489406-d16e8f0d-3ae1-4964-9fff-a9f8c402a9b2.png)
We should follow the same pattern as in the image above. (Title, Copy and Button)

Title: **Seed or LBP Dashboard
Copy: Access  "Seed/LBP Name" Dashboard.
Button: Access

** if it's LBP display LBP Dashboard, if it is a seed display Seed Dashboard

[2021-11-05 09:42] wantedsystem opened #435 "Invalid BigNumber value when submitting a new seed"

[2021-11-05 09:48] wantedsystem commented on #435
<img width="1250" alt="Capture d’écran 2021-11-05 à 10 39 43" src="https://user-images.githubusercontent.com/11537417/140490943-c16abe8a-16c2-4792-a9c6-77271dbdd333.png">

I guess the problem here is that we are able to go to stage 5 without entering the information of those fields

<img width="417" alt="Capture d’écran 2021-11-05 à 10 44 27" src="https://user-images.githubusercontent.com/1153

[2021-11-05 10:36] dkent600 commented on #434
This is tricky because in multi-hop swaps, might be hard to compute.

`SwapInfo` gives a poolId for each hop, so we have to devise an efficient way to get an LbpManager from a poolId, then obtain the token balances from the corresponding `Vault` entity.

[2021-11-05 10:41] dkent600 commented on #420
Replacing this ticket with: https://github.com/PrimeDAO/prime-launch-dapp/issues/434

[2021-11-05 11:05] dkent600 commented on #420
See also: https://github.com/PrimeDAO/prime-launch-dapp/issues/434

The behavior happens when the amount of project tokens exceeds the "total capacity of the pools" (still trying to understand this from balancer).

[2021-11-05 11:14] dkent600 commented on #435
@wantedsystem Can you please give the repo steps?  Like, is it necessary to click on the Submit" button here?  Or does the error occur on entering stage 5?

[2021-11-05 11:20] dkent600 commented on #349
Ouch, this seems like overkill.  Can we just have a link around the top that says "Go to [Seed|LBP] Dashboard"?

[2021-11-05 11:21] dkent600 commented on #349
I think should be near the top, before any of the form sections.

[2021-11-05 11:23] dkent600 commented on #349
The whole point of this ticket is that it doesn't exist.  Maybe I am not understanding the question.

[2021-11-05 11:28] dkent600 commented on #409
just tested, seems to be working ok now.

[2021-11-05 11:31] wantedsystem commented on #435
@dkent600 by clicking on submit on the last stage 7

[2021-11-05 14:33] renc-curvelabs commented on #162
Please find the global disclaimer attached:
[Prime Launch Terms (2).docx](https://github.com/PrimeDAO/prime-launch-dapp/files/7486707/Prime.Launch.Terms.2.docx)

[2021-11-05 16:05] dkent600 commented on #162
Need to be markdown (per specs) and put it into an appropriate place in the github primedao repository

[2021-11-05 16:06] dkent600 commented on #162
begs the question whether Prime Pools is supposed to have a disclaimer too

[2021-11-05 17:28] dkent600 opened #437 "Add padding on launch cards"

[2021-11-05 17:59] dkent600 opened #438 "Optimize token loading"

[2021-11-05 23:28] dkent600 opened #439 "What happens when seed or lbp ispaused?"

[2021-11-06 19:39] dkent600 opened #443 "Make funding token the default in the dropdown"

[2021-11-06 19:49] dkent600 commented on #434
Easiest option may be to detect balancer error codes and display useful error messages.

[2021-11-07 22:01] dkent600 opened #444 "Token Icons take a long time to appear"

[2021-11-07 22:08] dkent600 commented on #431
Waiting for the graph to resize properly

[2021-11-07 22:09] dkent600 commented on #406
Waiting for https://github.com/PrimeDAO/prime-launch-dapp/issues/424

[2021-11-07 22:14] dkent600 opened #445 "Multiple pools with the same project token"

[2021-11-08 07:41] dkent600 commented on #160
WHat are the urls for "Terms of Service" ,
"Privacy Policy" ?  @renc-curvelabs

[2021-11-08 07:49] renc-curvelabs commented on #160
We need to create them and we can use:

https://launch.prime.xyz//terms-of-service
https://launch.prime.xyz/privacy-policy

[2021-11-08 07:51] renc-curvelabs commented on #445
Marking this as optional following the conversation with Luuk

[2021-11-08 07:56] renc-curvelabs opened #448 "Terms of Use Document"

[2021-11-08 07:56] renc-curvelabs opened #449 "Privacy Policy Document"

[2021-11-08 07:57] renc-curvelabs opened #450 "Cookie Policy Document"

[2021-11-08 08:00] BartuCulha commented on #162
[Prime.Launch.Terms.2.md](https://github.com/PrimeDAO/prime-launch-dapp/files/7495185/Prime.Launch.Terms.2.md)

Added markdown format @renc-curvelabs @dkent600

[2021-11-08 08:00] BartuCulha commented on #448
[Prime.Launch.Terms.2.md](https://github.com/PrimeDAO/prime-launch-dapp/files/7495188/Prime.Launch.Terms.2.md)

Added markdown format @renc-curvelabs

[2021-11-08 08:18] BartuCulha commented on #403
![Host a Launch _  (2)](https://user-images.githubusercontent.com/24368665/140705338-45e4f73c-3606-43fc-a271-71ffd1be2f20.png)
Navigate here: https://primelaunchtest.primedao.io/launch
"Start Launch"  should be "Start LBP"

![Select Your Pack (2)](https://user-images.githubusercontent.com/24368665/140705519-a9f72f3f-99cc-485e-a5bd-2b412f41b379.png)
Navigate here: https://primelaunchtest.primedao.i

[2021-11-08 09:15] renc-curvelabs opened #451 "Where does the support link goes to"

[2021-11-08 10:29] BartuCulha commented on #409
Logo is busted inside the dropdown menu but it's visible in other fields.
![Launch Details _ (7)](https://user-images.githubusercontent.com/24368665/140726291-3c811ed3-5ea6-481c-92d9-6959e763e8d1.png)

[2021-11-08 10:31] BartuCulha commented on #409
Is it possible to use any other URL for the Logo? Current one is smaller than the rest. @dkent600
![LBP Summary _ Re](https://user-images.githubusercontent.com/24368665/140726592-09059e74-6897-4fe7-a9f8-b016fe3d6c40.png)

[2021-11-08 10:42] BartuCulha opened #452 "Launch Supply Text should have more width"

[2021-11-08 10:47] BartuCulha opened #453 "Token Logo should have the same size for both Seed and LBPS"

[2021-11-08 10:54] BartuCulha commented on #290
This is working fine for Iphone 12 pro max, however I am still able to scroll to left and right using Samsung S21.

Tested with Safari, Chrome and Brave
Samsung S21 screen info:

Size | 6.2 inches, 94.1 cm2 
Resolution | 1080 x 2400 pixels

[2021-11-08 10:58] dkent600 commented on #292
THe bug is still there

[2021-11-08 16:55] dkent600 commented on #409
I guess we we have to talk to kolektivo about that.  @renc-curvelabs   @BartuCulha

[2021-11-08 16:57] dkent600 commented on #453
What does the mock say?  If weare conforming to the mock, then we need to talk to Japp about that, and provide screenshots.

@renc-curvelabs @BartuCulha

[2021-11-08 17:01] dkent600 commented on #452
I'm not really sure this is even possible, given the need for spacing and width of the text.  Not a big deal in any case, so I'm setting to optional.

[2021-11-08 22:16] dkent600 commented on #408
subgraph is down, so can't test

[2021-11-09 09:17] renc-curvelabs opened #461 "Implementing Tooltips and Explanation section for Launch Details page"

[2021-11-09 09:41] renc-curvelabs opened #462 "Implement the Graph on the LBP Dashboard"

[2021-11-09 09:46] renc-curvelabs commented on #438
We checked this with Bartu and it is indeed taking too long. Updated as required.

[2021-11-09 10:14] renc-curvelabs commented on #439
In the Seed specification we clearly mentioned that the users should not be able to enter the dashboards if a launch is paused or closed (see screenshot from documentation below)

Looking back at it now - I am not sure this is the best way to move forward. Thinking of a user story:

- I am participating in a Launch
- My launch is paused and I am kicked out of the dashboard
- When I try to get back

[2021-11-09 11:00] BartuCulha opened #463 "Ready To Go: Checkbox needs adjustments"

[2021-11-09 11:15] BartuCulha opened #464 "Social Media Links Needs Adjustments"

[2021-11-09 13:36] dkent600 commented on #294
Dunno why this is sitting here.  It is done.

[2021-11-09 14:37] dkent600 commented on #434
Not currently feasible to anticipate this across a change of pools.  But I made a nice error message instead "Funding token amount may not be larger than 30% of the Lbp's total balance".

[2021-11-09 14:54] dkent600 commented on #420
I don't honestly know what is the reason for SOR to return zero.  But we are doing a good job of preventing the user from trying to execute such a swap, even if the validation error does not explain much.

[2021-11-09 16:27] dkent600 commented on #438
@renc-curvelabs Can you please specify _what_ you saw taking too long?

[2021-11-09 18:31] dkent600 commented on #403
@BartuCulha I don't think this is correct:

"Copy "Describe your project. This short description will be visible to users on Featured Launch cards and the Launch Dashboard page" should be "Describe your project. This short description will be visible to users on Featured Launch cards and the LBP Dashboard page""

because stage 2 applies to both Seeds and LBPs.

[2021-11-09 18:35] BartuCulha commented on #438
Hey Doug, when the launches(seed & lbp cards) were already loaded, I navigated to the registration wizard and  it took 5 seconds for the token list display tokens at stage 4 of the registration wizard.

When I refreshed the page while I'm on the 4th stage it took over a minute until I was able to see the tokens.

@dkent600

[2021-11-09 18:35] BartuCulha commented on #403
Perfect thank you

[2021-11-09 18:47] dkent600 commented on #403
I am also changing some page titles that appear in the browser title bar.

[2021-11-09 18:52] dkent600 commented on #438
OK @BartuCulha , this fixes everything you have mentioned:  https://github.com/PrimeDAO/prime-launch-dapp/issues/444

Note that mainnet is quite instantaneous, as far as I've been able to see.  One can still see a bit of a delay on rinkeby, but no matter.

So I think this can be closed.  I don't think there is anything else worth optimizing with regard to token loading.  There are other more impac

[2021-11-09 19:48] dkent600 commented on #464
I've cleaned up the icons, but changing how these layout is not an easy task, given that we have to account for 1) any number of links, and 2) any width of the browser.  My own feeling is that the layout isn't worth spending more time on at the moment.

[2021-11-10 08:27] BartuCulha opened #469 "Globally Align All Question Marks with the titles"

[2021-11-10 08:31] BartuCulha opened #470 "Question marks in Seed Dashboard needs to fit inside the gray circle"

[2021-11-10 08:47] BartuCulha commented on #438
sent to accepted

[2021-11-10 13:16] renc-curvelabs commented on #289
Following up on the last comment from October 7  - Is this spec clear? @BartuCulha @dkent600

[2021-11-10 13:40] BartuCulha opened #471 "Chart should appear instantly"

[2021-11-10 22:04] dkent600 commented on #471
This is due to internet or web3 provider latency. No way to avoid it.

There is a specific use case which is only when *re-entering* the lbp dashboard, which is something we are working on.

Otherwise, we should strongly consider putting up a spinny icon while loading the graph data.  @renc-curvelabs  @BartuCulha

[2021-11-11 08:54] dkent600 commented on #289
@BartuCulha Is this page the only place that has this problem?

[2021-11-12 08:58] dkent600 commented on #470
OK, I think you are not referring to size of the icon, but to the '?' inside the circle being font-sized and centered the same way, yes?  @BartuCulha

[2021-11-12 09:27] BartuCulha commented on #470
Yes @dkent600

[2021-11-12 10:04] BartuCulha commented on #289
Seed and LBP Dashboard Page @dkent600

[2021-11-12 15:46] dkent600 opened #473 "Correct construction of gnosis safe url"

[2021-11-12 15:49] dkent600 opened #475 "Launch Preview Didn't worked. price range and market were empty although the token information was filled in"

[2021-11-12 16:12] BartuCulha commented on #475
This was tested using google. chrome and brave browsers.

Steps to reproduce:

Navigate here:https://launch.prime.xyz/newLBP/
Fill in all the information for step 1,2,3 and 4
After entering the token amounts and setting up the weights, the price range and implied market cap will not display a number.
![Launch Details _ (10)](https://user-images.githubusercontent.com/24368665/141498338-c80ad506-aa4

[2021-11-14 08:01] dkent600 commented on #475
This is a mainnet-only issue

[2021-11-14 08:52] dkent600 commented on #473
This was a mainnet-only thing

[2021-11-15 08:21] BartuCulha commented on #471
I think spinny icon would be the best what are your thougts? @renc-curvelabs

[2021-11-15 08:34] renc-curvelabs commented on #471
Let's go with spinny icon

Thanks for flagging this, it was also bothering me

[2021-11-15 09:05] BartuCulha opened #476 "LBP Dashboard should display a spinny icon when the chart is loading"

[2021-11-15 11:06] BartuCulha opened #478 "Dapp should not throw 404 error after refreshing"

[2021-11-15 12:28] BartuCulha opened #479 "Text inside the titles should not be cut off on smaller screens"

[2021-11-15 14:18] BartuCulha opened #480 "Add a purplish background to the LBP Dashboard"

[2021-11-16 12:15] BartuCulha opened #482 "Home page: The two call to action buttons needs adjustments"

[2021-11-16 12:17] BartuCulha opened #483 "Apply for launch button should be"

[2021-11-16 12:18] BartuCulha opened #484 "Change 'Contribute' Button into 'Participate'"

[2021-11-16 12:19] BartuCulha opened #485 "Apply more spacing to the title 'Seamlessly fundraise..'"

[2021-11-16 12:26] BartuCulha opened #486 "6) Change Title copy to 'Seamlessly kickstart your DAO'"

[2021-11-16 12:27] BartuCulha opened #487 "Change Subtitle copy to 'Prime Launch is a platform for reliable and fair token launches seamlessly kickstart your DAO'"

[2021-11-16 12:27] BartuCulha opened #488 "Apply for Launch: Change copy to 'Start the registration process to kickstart your DAO'"

[2021-11-16 12:29] BartuCulha opened #489 "Move the "go right" button to the right side of the horizontal card slider"

[2021-11-16 12:37] BartuCulha opened #490 "Change the "view all launches" to just "view all""

[2021-11-16 12:38] BartuCulha opened #491 "add TYPE to the cards"

[2021-11-16 12:41] BartuCulha opened #492 "Optimize loading time for Launch Cards"

[2021-11-16 12:42] BartuCulha opened #493 "Optimize loading time for the launch cards"

[2021-11-16 12:42] #493 closed

[2021-11-16 12:45] BartuCulha opened #494 "'project category' needs more categories."

[2021-11-16 13:05] BartuCulha opened #495 "- 'project website' make users know if they have to add https://"

[2021-11-16 13:24] BartuCulha opened #496 "Add commas to numerical information in the input fields e.g. 1.000,000,000. - THROUGH OUT THE APP"

[2021-11-16 13:27] BartuCulha opened #497 "3) Cliff and vest should be able to be 0"

[2021-11-16 13:32] dkent600 commented on #478
Not a bug.  Problem was with fastcomet

[2021-11-16 13:33] BartuCulha opened #498 "Add space between token name and bracket, e.g. USD Coin (USDC), instead of USD Coin(USDC)"

[2021-11-16 13:35] BartuCulha opened #499 "Reg Wizard Stage 4: Remove the text - Insert a line to seperate"

[2021-11-16 13:37] dkent600 commented on #489
just a matter of swapping the icons

[2021-11-16 13:40] BartuCulha opened #500 "Launch Preview should display Price Range and market cap if WETH is selected"

[2021-11-16 13:42] BartuCulha opened #501 "Fully diluted market value"

[2021-11-16 13:51] BartuCulha opened #502 "Launch Preview: Add tooltip to price range"

[2021-11-16 13:56] BartuCulha opened #503 "Reduce block confirmation from 3 to 1"

[2021-11-16 13:59] BartuCulha opened #504 "Remove Mainnet and add ETHEREUM right next to the wallet"

[2021-11-16 14:39] BartuCulha opened #505 "Launch Page: Change subtitle"

[2021-11-16 14:40] BartuCulha opened #506 "Launch Page: Set a max width for the two cards"

[2021-11-16 14:42] BartuCulha opened #507 "Launch Page: Add a link to the documentation"

[2021-11-16 14:44] BartuCulha commented on #507
Is Jaap goig to provide a mock for this one? @renc-curvelabs

[2021-11-16 14:44] BartuCulha opened #508 "PrimeLAUNCH should be Prime Launch - EVERYWHERE"

[2021-11-16 14:46] BartuCulha opened #509 "Select your page copy should be changed"

[2021-11-16 14:48] BartuCulha opened #510 "Select your package: Remove Seed or Liquid Launch text"
Remove the copy from both seed and lbp

![Select-Your-Package-PrimeLaunch](https://user-images.githubusercontent.com/24368665/142007537-9948ab63-a695-44e8-b4f8-80e5285d25f3.png)

[2021-11-16 14:50] BartuCulha opened #511 "Change Submenu order"

[2021-11-16 14:51] BartuCulha opened #512 "Rename Launch Page and Submenu button with Register"

[2021-11-16 14:53] BartuCulha opened #513 "Submenu should be visible all the time"

[2021-11-16 14:54] BartuCulha opened #514 "Launch card: Vertical align icon with title"

[2021-11-16 14:57] BartuCulha opened #515 "Make Etherscan button Prime Pink"
here: https://launch.prime.xyz/launches

Change the color of the etherscan button to: #A258A7

[2021-11-16 16:36] BartuCulha opened #516 "Launches Page: Add N/A at Whitelist if there's no whitelist"

[2021-11-16 16:44] BartuCulha opened #517 "Launches Page: Missing the darker background on top"

[2021-11-16 16:49] BartuCulha commented on #480
hey Doug: I have updated the bg color code: it should be: #0E0E0E
@dkent600

[2021-11-16 16:50] BartuCulha opened #518 "LBP Dashboard: disable the swap mechanism if lbp is completed or closed"

[2021-11-16 16:51] dkent600 commented on #506
@BartuCulha Do you mean the maximum sum total of both cards plus space in the middle should be around 600px?

[2021-11-16 16:52] dkent600 commented on #510
@BartuCulha Sorry, can you please be more specific?  I don't understand.

[2021-11-16 16:53] BartuCulha opened #519 "LBP Dashboard: Chart should display trajectory price"

[2021-11-16 16:53] BartuCulha opened #520 "LPB Dashboard KPIs"

[2021-11-16 17:06] dkent600 commented on #514
@BartuCulha Are we awaiting a mock from Japp that shows the launch type?  I think we should wait on this until we have that mock.

[2021-11-16 17:07] dkent600 commented on #515
SHould be `$Secondary02`

[2021-11-16 17:12] dkent600 commented on #519
Meaning, display the projected price each hour going forward to the end time.

[2021-11-16 17:19] BartuCulha opened #521 "Reg. Wizard Stage 4: Add Preview chart"

[2021-11-16 17:26] renc-curvelabs commented on #507
No. We will just add the sentences mentioned above to the end of the explanations under each section:

So Seed should say:

Raise a seed from your community and early supporters publicly or via a whitelist. Visit here to learn more about Seed Launch."
"here" should be hyperlinked and leading to https://launch.prime.xyz/documentation/seed-launch

LBP should say:

"The liquid launch powered by Balan

[2021-11-16 17:27] renc-curvelabs commented on #501
This is a dupe of #211 @BartuCulha

[2021-11-17 08:01] BartuCulha commented on #507
ok moving card to triage

[2021-11-17 08:02] renc-curvelabs commented on #451
Should go here: https://kolektivo.typeform.com/to/TPMzQKFE

[2021-11-17 08:05] BartuCulha commented on #478
I'm receiving the same error against rinkeby but the site is working normal against mainnet. I guess we can move this card to accepted because it's related to fastcomet @dkent600

[2021-11-17 08:19] dkent600 commented on #507
@renc-curvelabs Can you please specify whether or not these links should open in a new tab?

[2021-11-17 08:20] dkent600 commented on #451
@renc-curvelabs Can you please supply a spec for this ticket?

[2021-11-17 08:23] renc-curvelabs commented on #451
Currently the "Support" button on the foother is not directing users to anywhere (screenshot below)
It should direct the users to https://kolektivo.typeform.com/to/TPMzQKFE
![image](https://user-images.githubusercontent.com/79934562/142162572-77d61a55-d8f8-42a8-9dd5-a12a50b87e7f.png)

[2021-11-17 08:24] renc-curvelabs commented on #507
They should open in a new tab sir - thanks for asking

[2021-11-17 08:48] dkent600 commented on #439
The status will clearly say paused and the forms should be disabled in some way (I believe seed already is).  If we only discover paused at the time the user takes action, we can update the visible status and put up a message describing why they can't take action.  This is less risky at this point than adding tooltip functionality to the status component.

@renc-curvelabs

[2021-11-17 08:55] renc-curvelabs commented on #439
Aligned on Telegram - Moving forward with:

- disabling the swapping/buying mechanisms
- put up a validation message

[2021-11-17 08:58] BartuCulha commented on #510
We should remove the subtext "seed or liquid launch" below the title "Basic" @dkent600

[2021-11-17 14:41] dkent600 commented on #518
This is not about "completed or closed", it is about "complete or paused".  LBP is complete only when it reaches the endtime.  There is no way to "close" an LBP.

[2021-11-17 15:07] BartuCulha commented on #514
@dkent600 yes, ill update this card once i have it

[2021-11-17 16:40] dkent600 commented on #480
@BartuCulha I'm sorry I don't understand what you want (specifically what is supposed to change?  I can't see any difference between your two screenshots), and it doesn't jibe with what @renc-curvelabs has asked for, nor does it jibe with what I see in the latest mock, here.  So I'm going with this mock:

https://www.figma.com/file/yitVGz7k9h49eDmNsnys2Q/Prime-Launch-(final)?node-id=4755%3A27270

[2021-11-17 19:09] renc-curvelabs commented on #504
I am hesitant on assigning this to Amine at the moment as he is already holding many tickets @dkent600

[2021-11-17 19:10] renc-curvelabs commented on #497
Also leaving this unassigned at the moment @dkent600

[2021-11-17 19:14] renc-curvelabs commented on #517
Moving this to won't work as mocks have changed - we no longer have to support multiple background colors

[2021-11-17 19:51] BartuCulha commented on #480
moving to wont work

[2021-11-18 08:02] dkent600 commented on #478
Yes @BartuCulha , both rinkeby and mainnet sites are hosted by fastcomet

[2021-11-18 08:09] renc-curvelabs commented on #491
![image](https://user-images.githubusercontent.com/79934562/142376697-268b124e-aff1-4aa5-84a0-197a83ac8a85.png)

1. Type will be implemented
2. Optional for launch as discussed
3. Optional for launch as discussed

[2021-11-18 08:11] dkent600 commented on #480
@BartuCulha You moved this from Code Complete.  It is already worked.  I'm moving back to Code Complete unless we decide to back it out.

[2021-11-18 08:16] BartuCulha opened #535 "Remove Dollar Sign from the equation"

[2021-11-18 08:24] BartuCulha opened #536 "Add Token and LBP addresses to the about project section"

[2021-11-18 08:26] dkent600 commented on #535
@BartuCulha I believe this is not the correct spec.  It should be to remove the entire USD amount.

[2021-11-18 08:28] BartuCulha opened #537 "LBP Dashboard: Implement Swap Fees and Settings sections"

[2021-11-18 08:32] BartuCulha opened #538 "LBP Dashboard: Implement Statistics section"

[2021-11-18 08:33] BartuCulha opened #539 "LBP Dashboard: Implement Launch Details"

[2021-11-18 08:52] dkent600 commented on #536
@BartuCulha Which token(s)?  Just Funding, just Project, or both?  What is the "Etherscan" link?

[2021-11-18 08:54] BartuCulha commented on #535
Yes so the equation will only have "1 DAI = 10.14 Prime" right?

[2021-11-18 09:38] dkent600 commented on #535
Correct.  I thought I saw that in the new LBP dashboard mock

[2021-11-18 10:19] renc-curvelabs commented on #494
Talked to Luuk - we will remove this section from the registration wizard @BartuCulha

[2021-11-18 10:20] dkent600 commented on #504
Note there is an icon too

[2021-11-18 11:22] dkent600 opened #540 "Implement batch contract reading"
Back-end team can implement a contract that does batch contract reads.  Balancer has a contract that does this.  This can have a significant impact on Prime Launch load times (also Prime Pool, BTW)

[2021-11-18 11:33] adarshsunil commented on #211
What would you like to raise in (the Funding Token)?

- Choose the Token in which the funds will be raised upon selling the Project Token.
- *Funding token will be used for funding future activities of the project

[2021-11-18 11:38] adarshsunil commented on #211
Number of tokens you will provide to launch ?

- The total number of Project tokens and Funding Tokens supplied for the initial launch of the liquidity bootstrapping pool.

[2021-11-18 12:24] adarshsunil commented on #211
Start Weight

- Ratio of Project token to the Funding Token in the LBP during the launch.
- Tip: *Usually set more to the Project token than Funding Token

[2021-11-18 12:48] adarshsunil commented on #211
End Weight

- Ratio of Project token to the Funding Token in the LBP by the stoppage.
- Tip: *Usually set less to the Project token than Funding Token

[2021-11-18 12:51] adarshsunil commented on #211
Launch Preview

-  Important statistics of the Project Token such as price and fee amount

[2021-11-18 12:53] adarshsunil commented on #211
Implied market capitalization

- The market valuation if all of the Project Tokens are part of the circulating supply.

[2021-11-18 16:31] wantedsystem commented on #512
@BartuCulha if we change /launch to /register we have to change all the links in the app (documentation, html pages etc), are you okay if i do this ?

[2021-11-18 16:51] BartuCulha commented on #512
Yep

[2021-11-19 04:05] adarshsunil commented on #211
Price Range : The lowest and highest price of Project Token (in USD) during the launch period

[2021-11-19 06:27] BartuCulha opened #544 "Add commas to numerical information on the read-only fields around the app"

[2021-11-19 07:32] dkent600 commented on #544
We should not change fields that have "average" formatting like "10k" unless there is truly room in the UI for large numbers, and it is actually needed.

[2021-11-19 07:34] dkent600 commented on #544
Search in the HTML for `formatted-number` tags.  Where appropriate, add `thousands-separated`

[2021-11-19 08:39] renc-curvelabs opened #545 "https://launch.prime.xyz/launch should be https://launch.prime.xyz/register"

[2021-11-19 08:51] renc-curvelabs commented on #505
Hey @wantedsystem Subtitle should be replaced. Please revert the title back to "Apply to host your Launch" and replace "Prime Launch empowers.." with "Select your preferred launch type"

[2021-11-19 10:47] dkent600 commented on #487
@BartuCulha This is another case of us taking your text literally.  Can you please correct to whatever this is really supposed to be?  Thanks!

[2021-11-19 10:52] renc-curvelabs commented on #487
@dkent600 hey it's bartu. You are right. This is what was written in the feedback document, I just copied it.
Here's what it should be:
"Prime Launch is a platform for reliable and fair token launches to seamlessly kickstart your DAO"

[2021-11-19 11:02] dkent600 commented on #545
I think this has already been fix as part of some other ticket.  Is a dup.

[2021-11-19 14:12] renc-curvelabs commented on #518
I cannot test this, this is how lbp dashboard looks at the moment
![Liquid Launch Da (1)](https://user-images.githubusercontent.com/79934562/142636404-a68d802e-dc91-4569-990d-c0571bf61b51.png)

[2021-11-19 14:23] renc-curvelabs opened #549 "Numerical Input Fields should now accept latin script letter "Ç""

[2021-11-19 14:27] renc-curvelabs commented on #507
Cannot see the changes here:
https://primelaunchtest.primedao.io/register

[2021-11-19 14:44] renc-curvelabs opened #550 "Green up icon should not appear if percent change is equal to 0.00"

[2021-11-19 14:56] renc-curvelabs commented on #497
Vesting should also be 0 for Seed's Vesting Schedule.

[2021-11-19 22:09] dkent600 commented on #518
It is correct that the form is not showing, but the layout is very wrong.  I will take this ticket back.

[2021-11-19 22:18] dkent600 commented on #518
I fixed the layout

[2021-11-20 10:25] renc-curvelabs commented on #509
![Select Your Pack](https://user-images.githubusercontent.com/79934562/142722947-d985c7d8-1938-4f37-8005-7d233f4ea1c2.png)

I am unable to see the launch type. @dkent600

[2021-11-20 10:26] renc-curvelabs commented on #539
![Liquid Launch Da (3)](https://user-images.githubusercontent.com/79934562/142722979-f47905fe-46df-44cf-9340-65aeab093818.png)

Can we replace +03 with GMT? @dkent600

[2021-11-20 10:27] renc-curvelabs commented on #487
![Home _ Prime Lau](https://user-images.githubusercontent.com/79934562/142723012-1728ce48-a0b5-4595-bc0b-3636da9eca72.png)

I am unable to see the new copy

[2021-11-20 15:57] dkent600 opened #554 "LBP Dashboard: Implement Swap Fees section"
Refer here: https://www.figma.com/file/yitVGz7k9h49eDmNsnys2Q/Prime-Launch-(final)?node-id=4792%3A28142

Please add the new features to the lbp
![Prime Launch (fi (1)](https://user-images.githubusercontent.com/24368665/142379547-bc46b79b-533d-48d8-bd17-e13ad4a6480e.png)

[2021-11-20 16:12] dkent600 commented on #509
@renc-curvelabs @BartuCulha is best to tag the person who is assigned to the ticket.  @wantedsystem

[2021-11-20 16:14] dkent600 commented on #539
@BartuCulha @renc-curvelabs It is our standard practice in the Prime suite to display datetimes in the local timezone.

but is should be a friendlier name for the timezone, which I _am_ seeing.  I don't understand why you are not.  Will have to figure this out:

![image](https://user-images.githubusercontent.com/1821666/142733317-8529b4af-8cf1-43a5-b0ac-fb9b7fed45ff.png)

[2021-11-22 07:00] renc-curvelabs commented on #518
![Home _ Prime Lau](https://user-images.githubusercontent.com/79934562/142817475-edba8807-5d2b-4eb7-947a-72cdf55c1bc4.png)

I believe they want us to make the form disabled but not invisible

[2021-11-22 07:08] renc-curvelabs opened #556 "Align "Swap Fees" to the left on Mobile"

[2021-11-22 07:22] renc-curvelabs commented on #536
`Providing the specs:

Project Token on Etherscan - Should lead to the project token address on etherscan
Project Owner on Etherscan - Should lead to the address of the project admin on etherscan

[2021-11-22 08:21] dkent600 commented on #518
@renc-curvelabs @BartuCulha When I asked if I can hide the form, they said "yes".  Unlike Seeds, there is no point in having it visible (nothing would be enabled, unlike Seeds where it is still possible to redeem), it would be more work, and less space for the graph which remains useful.

[2021-11-22 10:22] dkent600 commented on #539
@BartuCulha Can we approve this ticket and create another ticket on just the timezone issue?  Further, on the timezone issue, can you please try some other timezones and described the pattern of which ones work and which don't?  If none work for you, can you please report on your platform?  Thanks!

[2021-11-22 10:32] renc-curvelabs opened #557 "LBP Dashboard: Launch Details should have a friendlier display of the timezone"

[2021-11-22 10:40] renc-curvelabs commented on #500
This was an issue against mainnet. And this bug still occurs in mainnet.

Should we put this card to "code complete" until we deploy the newest updates to the mainnet? @dkent600

[2021-11-22 10:43] renc-curvelabs opened #558 "LBP Dashboard: Project Owner Etherscan should lead to the right URL"

[2021-11-22 10:51] dkent600 commented on #500
Can we leave it in QA until we do a mainnet deploy?

[2021-11-22 10:52] renc-curvelabs commented on #500
sure!

[2021-11-22 11:27] renc-curvelabs opened #559 "The Chart and Swapping section needs to be visually aligned with the mock"
The visuals of the LBP Dashboard section which includes the Chart and the Swapping Mechanism needs to match the mocks.

I have drawn a red line in the middle of the carts to easily identify what are the pain points. Below is the mock where:

- The chart extends further the middle
- The chart numbers are much more readable. I am assuming font sizes are bigger

![image.png](https://images.zenhubuser

[2021-11-22 11:29] renc-curvelabs commented on #559
This is what we have currently:

![image](https://user-images.githubusercontent.com/79934562/142854013-6610bab8-70f9-4fcc-94af-5eb4ec944d30.png)

[2021-11-22 11:39] dkent600 commented on #559
@renc-curvelabs Can you please indicate what is the width of your browser in you screenshot?

[2021-11-22 11:42] dkent600 commented on #559
@giladt This means getting either 1) get rid of the media breakpoints I added to work-around this, or 2) make more media breakpoints.  If think #1 is preferable, enabling the chart to fully adapt to changes in the width of its container.   The form width is constant (except for the one media breakpoint where we make it narrower)

[2021-11-22 11:50] renc-curvelabs commented on #559
Mine is 21.3 inches

But this does not have anything to do with my screen. Everyone can see the differences here compared to the mocks on their screens

[2021-11-22 12:26] dkent600 commented on #559
Not me, it depends on the width

[2021-11-22 12:34] dkent600 commented on #557
@BartuCulha Can you please identify the name(s?) of the timezones(s?) that have this problem?

[2021-11-22 12:37] dkent600 commented on #557
Mine looks fine

![image](https://user-images.githubusercontent.com/1821666/142862982-322bed79-44b7-440a-8c3a-61a7c93fbbb5.png)

[2021-11-22 12:41] dkent600 commented on #557
Switching my computer to Hawaii time and refreshing the browser page:

![image](https://user-images.githubusercontent.com/1821666/142863592-25719779-457e-49ff-a1ff-5c8bffe6be4c.png)

[2021-11-22 12:43] dkent600 commented on #550
@renc-curvelabs Did you hover of the number to see if it is really 0?

[2021-11-22 12:43] dkent600 commented on #557
@renc-curvelabs Pinging Bartu on ^^^

[2021-11-22 12:55] dkent600 commented on #550
Looing at the code, I suspect this is not a bug

[2021-11-22 12:58] dkent600 commented on #549
@BartuCulha  @renc-curvelabs Why not?

[2021-11-22 12:59] dkent600 commented on #549
@renc-curvelabs  @BartuCulha What language are you using?

[2021-11-24 09:28] wantedsystem commented on #509
Hello @BartuCulha, it's working https://primelaunchtest.primedao.io/newLBP/selectPackage

[2021-11-24 12:25] dkent600 opened #563 "LBP funding should not be available for closed LBP"

[2021-11-24 12:26] dkent600 opened #564 "Funding should not be an option for closed LBP"

[2021-11-24 12:26] #564 closed

[2021-11-24 15:07] BartuCulha opened #565 "Launch a project Button doesnt work"

[2021-11-24 15:49] renc-curvelabs commented on #409
@BartuCulha can you confirm if this is still an issue

[2021-11-24 21:02] dkent600 opened #570 "remind of final step after Unlock"

[2021-11-25 15:51] dkent600 commented on #409
@renc-curvelabs The icon is present.  It just doesn't look great.

[2021-11-25 15:57] BartuCulha commented on #509
yep its working  @wantedsystem

[2021-11-25 16:00] BartuCulha commented on #409
yep it's working shall we move this card to won't work?  @dkent600

[2021-11-25 16:13] BartuCulha commented on #557
its gmt +3 and I'm using brave and chrome

[2021-11-25 16:14] BartuCulha commented on #453
This is fine, moving to wont work

[2021-11-25 16:17] BartuCulha opened #572 "LBP Dashboard: Add space between navbar and launch information"

[2021-11-26 10:41] BartuCulha opened #575 "Featured Launches Cards should be fully displayed in 13"" screens"

[2021-11-26 10:45] BartuCulha opened #576 ""Go right" and "Go left" buttons should appear if there are more than 3 cards"

[2021-11-26 10:48] BartuCulha opened #577 "Remove Padding from "Go right" button"

[2021-11-26 10:55] renc-curvelabs opened #578 "Imeplement Spinny Thingy for the Home Page during the initial loading"

[2021-11-26 11:01] renc-curvelabs commented on #578
There are couple seconds of waiting when the applications is loading for the first time. Can we implement the Spinny Thingy and have a message that says "Prime Launch is Loading..."

[2021-11-26 11:46] BartuCulha opened #579 "Register Page: Subtitle Font weight should be 700 (bold) instead of 800 (extra bold)"

[2021-11-26 13:11] dkent600 commented on #576
the request behavior is already the case as shown below.  The rule is that all the cards, regardless of how many cards there are, must be fully visible, and then no buttons will be visible.

![image](https://user-images.githubusercontent.com/1821666/143586078-c1c8b16b-56da-4804-a429-3e97a6f954ab.png)

[2021-11-26 13:15] dkent600 commented on #575
This is a matter of screen dimensions.  Suppose you had a 13" screen that was 3 pixels in width?  Three cards should fit into that?

This is a matter of pixels and zooming.  So lets assume 100% zoom.  We need to express the requirements in terms of screen resolution and the pixel size of the cards.  @BartuCulha

[2021-11-26 16:18] renc-curvelabs commented on #557
I see CET on mine
![image](https://user-images.githubusercontent.com/79934562/143608608-2301c244-99d9-4438-9148-95ae4b1652ea.png)

[2021-11-26 16:20] renc-curvelabs commented on #576
Are you aligned on this dear? @BartuCulha

[2021-11-26 16:23] renc-curvelabs commented on #570
This makes sense but I also believe that the current way of changing the "unlock" button to "buy" is sufficient for launch

[2021-11-26 16:25] renc-curvelabs commented on #449
Should lead here and open in a new window:
https://assets.website-files.com/608bd350d67fe62ab7818c74/619b9c4a562c87d619da92ea_Prime%20-%20Privacy%20Policy.pdf

[2021-11-26 16:25] renc-curvelabs commented on #450
Should lead here and open in a new window:
https://assets.website-files.com/608bd350d67fe62ab7818c74/619b9c4ae6d73869fac95783_Prime%20-%20Cookie%20Policy.pdf

[2021-11-26 18:18] dkent600 commented on #505
@wantedsystem this is not complete

[2021-11-26 18:21] dkent600 commented on #507
@wantedsystem This is still not complete

[2021-11-26 18:29] dkent600 opened #582 "IPFs requests rate limit exceeded on Chrome"

[2021-11-26 22:07] dkent600 commented on #556
I have made a number of improvements to this mobile layout, but didn't exactly do as requested here.  Is better to make all centered rather than left-aligned.

[2021-11-27 11:19] BartuCulha commented on #556
According to the mock everything should be left aligned. I'll create a separate card for it 👍

[2021-11-27 11:22] BartuCulha commented on #572
We should add more padding figma mocks says it should be 64px. What is our current padding size? @dkent600

[2021-11-27 12:13] dkent600 commented on #572
Sorry, this ticket didn't specify so I added what looked good to me (which technically satisfied the request ;-) )

[2021-11-27 12:28] dkent600 commented on #572
So I've added some more padding.  I don't think you can compare to the mock because the numbers in the mock just don't seem transferrable to real life.  If you think what I've done can be better, would be good if you can give an exact number, thanks!

[2021-11-27 12:30] dkent600 commented on #572
Note that this affects every page in the app

[2021-11-27 18:58] dkent600 commented on #409
@BartuCulha move to accepted

[2021-11-28 12:17] dkent600 opened #583 "Host production on Versel?"

[2021-11-28 12:20] dkent600 opened #584 "Automatic deploy to dev of dev and staging"

[2021-11-28 12:22] dkent600 opened #585 "Automatically run lint and tests on commits"

[2021-11-28 15:30] dkent600 opened #586 "provide SOR dependencies"

[2021-11-28 16:40] dkent600 opened #587 "Problems typing '.' in numeric inputs"

[2021-11-29 08:18] renc-curvelabs commented on #211
Distilling the work of Adarsh into tasks:

- [ ]  Update the tooltip of "What would you like to raise in (the Funding Token)?" to: _"Choose the Token in which funds will be raised in exchange for the Project Token."_

- [ ] Add a tooltip next to "Number of tokens that you will provide to the LBP" _"The total number of Project Tokens and Funding (Collateral) Tokens that will be supplied to set up t

[2021-11-29 08:48] BartuCulha commented on #575
Yes three cards should fit into the screen.
Here's my display specs:
13,3-inch (2560 × 1600)

hope that's enough info👍

[2021-11-29 08:49] BartuCulha commented on #576
Yes I have addressed my issues here #575

[2021-11-29 08:49] BartuCulha commented on #576
Moving this card to wont work

[2021-11-29 08:50] BartuCulha commented on #557
I do not what else I can provide to this card @dkent600

[2021-11-29 09:09] dkent600 commented on #557
@BartuCulha What is the name of your timezone?  Like Berlin is "CET".  What is yours?

[2021-11-29 09:12] dkent600 commented on #576
Best to move to Accepted, because it *has* been done.

[2021-11-29 09:51] BartuCulha opened #588 "Start End & Weight correspondance needs adjustments"

[2021-11-29 10:04] BartuCulha commented on #557
GMT + 03

[2021-11-29 12:14] renc-curvelabs commented on #582
Tried it on my Chrome, didn't get any errors on console

[2021-11-29 12:21] dkent600 commented on #582
It is no longer happening for me too.  @giladt is it still happening for you?

[2021-11-29 12:24] dkent600 commented on #504
The description in this ticket references a V2 mock. But  V3 is the latest, and V3 does not include what is requested in the ticket.  To go with V3 we need to simply remove "Mainnet" from the navbar.  I seem to recall this was in fact requested.  But the ticket disagrees.  What are we really supposed to do?  @renck  @barcul

[2021-11-29 12:27] BartuCulha commented on #504
I have updated the card please check the first comment @dkent600👆

[2021-11-29 13:20] dkent600 commented on #495
We simply added the instruction to the placeholder.  Was much easier this way.

[2021-11-29 13:21] BartuCulha commented on #504
Let's only remove the Mainnet or Rinkeby Text from the Navbar

[2021-11-29 13:25] BartuCulha opened #590 "Project token exchange ratio input field and feedcame won't match"

[2021-11-29 14:56] dkent600 commented on #590
Dup of :https://github.com/PrimeDAO/prime-launch-dapp/issues/587

[2021-11-29 16:30] BartuCulha opened #592 "Coming soon page for prime.launch.xyz"

[2021-11-29 16:31] BartuCulha opened #593 "Website under construction page"

[2021-11-29 18:19] dkent600 commented on #557
If that is truly the name of your timezone, which is surprising to me, then there is nothing more we should do.  It is showing exactly what it should.

[2021-11-29 19:08] dkent600 commented on #549
I ınstalled the Turkısh language on my computer and still can't reproduce this.

[2021-11-29 19:11] dkent600 commented on #582
Assuming this was just a bad day for chrome.  @BartuCulha maybe you can check?

[2021-11-29 19:35] dkent600 commented on #575
OK, this is my screen.  And 100% browser zoom.  I reduced the gap between cards by 8px, and on my screen it fixes the problem.  When I switch to 2560x1600 it doesn't help me know whether it is fixed because I don't know what kind of scaling your OS maybe be doing.  Totally depends on that.  Note that my windows 10 is scaling at 250%.

![image](https://user-images.githubusercontent.com/1821666/1439

[2021-11-30 10:03] BartuCulha opened #594 "Vesting Schedule and Date input fields should only accept numbers"

[2021-11-30 10:08] BartuCulha commented on #557
But it's not showing "GMT" only "+3" @dkent600

[2021-11-30 10:09] BartuCulha commented on #582
can't reproduce either moving to accepted

[2021-12-01 07:35] renc-curvelabs commented on #592
I am happy to display a timer - first we need to align on an hour to launch :)

[2021-12-01 07:40] renc-curvelabs commented on #593
I think this can be similar to the loading page - animated logo and a simple text

Working on getting an approval

[2021-12-01 13:21] BartuCulha opened #600 "Connect A wallet, Metamask button opens up Coinbase wallet extension"

[2021-12-01 13:27] BartuCulha opened #601 "LBP Dashboard: sending a transaction requires a signer"

[2021-12-01 13:34] BartuCulha opened #602 "LBP Statistics are not updating"

[2021-12-01 13:36] BartuCulha opened #603 "LBP Dashboard: fractional component exceeds decimals"

[2021-12-01 13:41] BartuCulha opened #604 "LBP Dashboard: Conversion rate for WETH seems off"

[2021-12-01 13:46] BartuCulha commented on #603
I do not receive this error when I navigate here and choose WETH as funding token:
https://primelaunchtest.primedao.io/lbp/0xa120f03b3Bb07286862D3b130baA52c2ce909d3B

[2021-12-01 13:46] BartuCulha commented on #604
Conversion rate seems ok for this lbp here:
https://primelaunchtest.primedao.io/lbp/0xa120f03b3Bb07286862D3b130baA52c2ce909d3B

[2021-12-01 13:58] BartuCulha opened #605 "Inputting 8 digits to Maximum Project Token Supply breaks the wizard"

[2021-12-01 14:05] BartuCulha commented on #605
This can be reproduced using Prime Token as well:
0x80E1B5fF7dAdf3FeE78F60D69eF1058FD979ca64

[2021-12-01 18:07] blink-km commented on #592
![IMAGE 2564-12-01 19:06:02](https://user-images.githubusercontent.com/94439781/144289272-92ad5cb3-4bbf-4b55-8917-ebb0d9bc9222.jpg)

[2021-12-01 18:10] blink-km commented on #578
![IMAGE 2564-12-01 19:05:50](https://user-images.githubusercontent.com/94439781/144289714-47ceb952-059b-4cb4-8a4b-11cf8b48817e.jpg)

[2021-12-02 06:50] dkent600 commented on #582
problem has returned today

[2021-12-02 07:35] dkent600 commented on #605
The token info has nothing to do with it.  Simply enter 10000000  into any number input that expects an ETH value and one experience error.

[2021-12-02 08:56] renc-curvelabs commented on #605
There can be hundreds millions of tokens for the project token in supply. We should be supporting this

Such as the Prime token where the circulating max supply is 100,000,000

[2021-12-02 09:32] blink-km commented on #593
![IMAGE 2564-12-02 10:31:16](https://user-images.githubusercontent.com/94439781/144395221-bf2f1747-8011-459a-9cdb-34aba1243ed6.jpg)

[2021-12-02 09:32] blink-km commented on #593
Visit support button takes the user to Prime Launch support channel

[2021-12-02 10:58] BartuCulha commented on #575
macOS does not specify the exact rate of scaling. I'm using "default" scaling. My browser is at 100% zoom. As you mentioned reducing the gap between cards by 8px might fix this.

[2021-12-02 11:27] dkent600 commented on #575
That is what I did, so you can test it  :-)

[2021-12-02 11:32] dkent600 commented on #600
@BartuCulha I think you have the weirdest computer in the world  ;-)

The problem here is that you have two wallet provider browser extensions installed at the same time.  I don't think that is a valid use case.  Somehow the users need to understand this.  I'm curious if you have a similar problem with other dapps?

If you think I'm wrong, let me know.

@renc-curvelabs

[2021-12-02 11:33] dkent600 commented on #601
Yeah I started seeing this myself yesterday!  Very disconcerting!

[2021-12-02 11:40] dkent600 commented on #604
Conversion rate depends on the current token balances in all of the pools involve in the exchange.  A non-funding token will have to go through another pool to compete the exchange.

@BartuCulha Please test the computations by actually performing the swap and see what exchange rate results.

[2021-12-02 12:07] renc-curvelabs commented on #600
I was not able to replicate this but I love this comment :D

_@BartuCulha I think you have the weirdest computer in the world ;-)_

[2021-12-02 12:55] dkent600 commented on #601
This was introduced by the performance work.

[2021-12-02 13:19] dkent600 commented on #603
I can no longer reproduce.  I suspect I fixed this when working something else.

[2021-12-02 19:07] dkent600 commented on #582
I think we need to upgrade one of the Pinata accounts to Professional to get a dedicated gateway with no rate limiting.

[2021-12-03 07:40] BartuCulha commented on #600
cant reproduce anymore, moving to wont work

[2021-12-03 07:52] BartuCulha commented on #450
Cannot see this anywhere in the app. Deleting my cache and history did not worked. There are no buttons in the footer related to this. Need guidance here @dkent600🙌

[2021-12-03 07:53] BartuCulha commented on #449
Links in the footer wont work moving to backlog

![Home _ Prime Lau (6)](https://user-images.githubusercontent.com/24368665/144565685-40165b20-53ac-4309-98bd-7584872d00f5.png)

[2021-12-03 07:53] BartuCulha opened #607 "Footer: Terms and Privacy links wont work"

[2021-12-03 07:58] BartuCulha commented on #575
It didn't worked for me. We can leave this out as it's a minor issue.

[2021-12-03 08:11] dkent600 commented on #449
@BartuCulha you already created a separate card on the footer.  Thus returning this one would be a dup.  So I'm sending back to you :-)

[2021-12-03 08:13] dkent600 commented on #450
@BartuCulha this link can be seen in one of the checkboxes prior to submitting a launch registration.

[2021-12-03 09:00] BartuCulha commented on #450
cannot reach page, moving to backlog:

![404 Not Found](https://user-images.githubusercontent.com/24368665/144574827-27da9bd8-773c-45ac-8c99-5870e432429e.png)

[2021-12-03 09:33] BartuCulha commented on #594
I can enter alphabetical characters to the input fields inside SEED Vesting Schedule and Seed Schedule.

I can enter alphabetical characters to the END Time Input Field in LBP Reg Wizard

[2021-12-03 09:45] BartuCulha opened #608 "LBP Dashboard: Aling Title to the left"

[2021-12-03 09:47] BartuCulha opened #609 "LBP Dashboard: Align Subtitle in the About section to the left"

[2021-12-03 10:26] BartuCulha commented on #600
I can reproduce this in our app but also other dapps also throws the same error. moving to wont work

[2021-12-03 10:28] BartuCulha commented on #603
I reproduced it just now
Navigate here: https://primelaunchtest.primedao.io/lbp/0xcb46EF376a3fE75133EE10688C422307AA8dcEE9
Input  0.01 ETH
![Liquid Launch Da (9)](https://user-images.githubusercontent.com/24368665/144587517-7771940b-daa2-46c0-93a7-b8400d493462.png)

[2021-12-03 14:10] wantedsystem commented on #450
@BartuCulha have you tried to go here : https://primelaunchtest.primedao.io/cookie-policy ?

[2021-12-03 15:22] dkent600 opened #610 "History and Forecast lines should start at the same point"

[2021-12-03 15:38] blink-km opened #611 "Link to support button (Footer and header))"

[2021-12-03 15:39] blink-km commented on #611
Here is the link
https://primedao.typeform.com/PrimeLaunchSup

[2021-12-03 15:46] blink-km opened #612 "Update the URL for "Request information" buttons on the launch page"
Here is the link:
https://primedao.typeform.com/launch

[2021-12-03 15:46] blink-km commented on #612
![IMAGE 2564-12-03 16:45:10](https://user-images.githubusercontent.com/94439781/144631174-c22ffdd4-4ffa-4b3a-ba63-518bf699dab8.jpg)

[2021-12-03 15:48] dkent600 commented on #608
Only happens at a certain browser width range.

[2021-12-03 15:48] dkent600 commented on #609
Only happens at a certain browser width range.

[2021-12-03 16:04] BartuCulha opened #613 "Claim Project Token Section needs adjustments"

[2021-12-03 16:08] BartuCulha opened #614 "Claimable Project Token amount wont reset after a successful claim"

[2021-12-03 16:15] dkent600 commented on #594
Sorry, the other fix wasn't deployed yet.

[2021-12-03 16:22] dkent600 commented on #603
I cannot reproduce

[2021-12-03 16:28] dkent600 commented on #594
ooops, sorry, a typo snuck into those three filters

[2021-12-03 16:30] dkent600 commented on #613
@BartuCulha Sorry, I can't identify what is overflowing.  Can you please specify?

[2021-12-03 22:02] dkent600 commented on #592
@blink-km Can you please send the url for the learn more link?

[2021-12-03 23:48] dkent600 commented on #450
@renc-curvelabs @BartuCulha The problem here is that there is nothing at https://launch.prime.xyz/cookie-policy.

Unless this URL is incorrect, I would think this is a job for kolektivo.

[2021-12-04 08:23] blink-km commented on #592
https://discord.com/channels/740147854890500127/799565365104476220

[2021-12-04 08:44] renc-curvelabs commented on #450
In my comment above (8 days ago) - I mentioned:

_Should lead here and open in a new window:
https://assets.website-files.com/608bd350d67fe62ab7818c74/619b9c4ae6d73869fac95783_Prime%20-%20Cookie%20Policy.pdf_

@dkent600 @wantedsystem

[2021-12-04 08:45] renc-curvelabs commented on #449
As mentioned 8 days ago:

_Should lead here and open in a new window:
https://assets.website-files.com/608bd350d67fe62ab7818c74/619b9c4a562c87d619da92ea_Prime%20-%20Privacy%20Policy.pdf_

@dkent600 @wantedsystem

[2021-12-04 08:45] renc-curvelabs commented on #607
This is a dupe

[2021-12-04 08:56] renc-curvelabs commented on #592
Any reason why we shifted away from the provided mock above? @dkent600 @blink-km

To the one below:

![image](https://user-images.githubusercontent.com/79934562/144703707-46bb8542-5cd6-4aae-ad5e-94a7feb02a47.png)

[2021-12-04 09:16] dkent600 commented on #449
I find that the link in the footer already works fine, as spec'd.

The links in the wizard disclaimer checkboxes will only work when the production site is up and running, are not coded to work on test sites.

[2021-12-04 09:18] dkent600 commented on #450
The links in the wizard disclaimer checkboxes will only work when the production site is up and running, are not coded to work on test sites.

[2021-12-04 09:29] BartuCulha opened #616 "LBP Dashboard: Mobile view needs consistent alignment"

[2021-12-04 09:36] BartuCulha commented on #594
https://primelaunchtest.primedao.io/newSeed/stage4
I can type characters to the fields under vesting schedule

![SEED-Details-Register-New-SEED-Prime-Launch (1)](https://user-images.githubusercontent.com/24368665/144704793-ca9ef221-abcf-4f61-a97e-224f9fda341c.png)

[2021-12-04 09:39] BartuCulha opened #617 "Featured launches are broken in mobile view"

[2021-12-04 09:43] BartuCulha commented on #617
Here's how the cards behave when I reduce the screen width.
https://user-images.githubusercontent.com/24368665/144704970-bbe931bf-9b9d-47f5-9892-c04878e1dc61.mp4

[2021-12-04 09:48] BartuCulha commented on #611
Cannot see the link in the header

[2021-12-04 09:57] dkent600 commented on #611
Per the description in the ticket, is only for mainnet

[2021-12-04 11:29] BartuCulha commented on #613
Question mark, Prime Pending Box, Claim button they are all overflow outside of the box.

[2021-12-04 12:49] BartuCulha commented on #603
can you reproduce this by any chance? @renc-curvelabs
navigate here: https://primelaunchtest.primedao.io/lbp/0xcb46EF376a3fE75133EE10688C422307AA8dcEE9
Input 0.001 weth to the input field. You should be seeing an error.

![Liquid-Launch-Dashboard-Prime-Launch (3)](https://user-images.githubusercontent.com/24368665/144710007-6a77f567-59fa-400c-abb2-a5a3319320a7.png)

[2021-12-04 12:56] BartuCulha opened #618 "LBP Dashboard: Total "project token" sold calculations"

[2021-12-04 12:59] BartuCulha commented on #557
Any updates here? @dkent600

[2021-12-04 13:02] BartuCulha commented on #611
Ok Im holding the ticket here, until mainnet is live

[2021-12-04 13:03] BartuCulha commented on #593
What is the latest decision here? Are we going to display the computer image?

[2021-12-04 17:45] renc-curvelabs commented on #593
We don't, we will move forward with what we have: @BartuCulha
![image](https://user-images.githubusercontent.com/79934562/144719308-38d7621a-6309-474a-9c6d-b3258a2d5a83.png)

[2021-12-04 17:47] renc-curvelabs commented on #603
Yep - Got the error @BartuCulha

![image](https://user-images.githubusercontent.com/79934562/144719355-27457278-5890-4a1d-91f7-ed6ec06403da.png)

[2021-12-04 17:50] dkent600 commented on #603
Ok I'll try with .001

[2021-12-05 14:08] dkent600 commented on #613
ah, now I see it

[2021-12-05 21:56] renc-curvelabs commented on #578
We are waiting for the final spec on this as mentioned in the Kolektivo chat - FYI @BartuCulha

[2021-12-06 08:33] dkent600 commented on #618
@BartuCulha Can you please explain precisely why this "seems" off?  This would be part of the spec.

[2021-12-06 08:34] dkent600 commented on #616
Very low priority.  @renc-curvelabs

[2021-12-06 08:36] dkent600 commented on #614
I'm not sure this is required at this point, but I will investigate.  My initial perusal of the code revealed no problem.  @renc-curvelabs

[2021-12-06 08:38] BartuCulha commented on #618
Before swap I want to buy 857 Prime token with 2000 DAI tokens.
Initial total Prime sold under statistics is "4969"
After Swap total prime sold  becomes "9289"

Shouldn't it become 5826? (4969 + 857 = 5826)

[2021-12-06 08:39] BartuCulha commented on #578
Moved to need specification

[2021-12-06 08:40] dkent600 commented on #594
frack sorry, i didn't notice that in the original request here.

[2021-12-06 08:40] BartuCulha commented on #613
wow, just turned blue filter on. you are right, its impossible to see it :D

[2021-12-06 08:41] BartuCulha commented on #594
No problemo

[2021-12-06 08:45] BartuCulha opened #619 "Opening "Privacy" Page within a new tab should not direct user to our Home page"

[2021-12-06 08:50] BartuCulha commented on #593
Could you please provide a link that leads me to the under construction page?  @dkent600

[2021-12-06 09:27] BartuCulha opened #620 "Firefox: Animated Loading Logo looks clunky"

[2021-12-06 09:38] BartuCulha opened #621 "Home Page title need more space for mobile view"

[2021-12-06 10:17] dkent600 commented on #619
Can you please indicate which link you are click upon?

[2021-12-06 10:19] BartuCulha opened #622 "Stakeholder vesting and cliff days should be able to fractionalized"

[2021-12-06 10:22] BartuCulha commented on #619
Updated my first comment: @dkent600

Scroll down to the footer and open Privacy link in a new tab.
You should be directed here: https://assets.website-files.com/608bd350d67fe62ab7818c74/619b9c4a562c87d619da92ea_Prime%20-%20Privacy%20Policy.pdf

[2021-12-06 10:23] dkent600 commented on #618
@BartuCulha By what amount did your personal balance of Prime change?  857 or 4320?

Do you know for sure that other swaps have not affected the total sold?

[2021-12-06 10:29] BartuCulha commented on #618
@dkent600 My personal balance changed by 4320 Prime tokens. Here's txID: https://rinkeby.etherscan.io/tx/0xe4eea0701d02e1c3113200239e8761c4c7a6df73f4ec717db5367d9c98d84f66

In this case "Statistics" is showing the correct amount. But I have received more Prime (4320 Prime) than what the "Contribute" section (857 Prime) showed me.

[2021-12-06 10:52] BartuCulha opened #623 "Admin Dashboard: "Select an LPB" should be "Select an LBP""

[2021-12-06 11:49] BartuCulha commented on #610
Here's another screenshot. Happened after I executed a transaction.
![Liquid-Launch-Dashboard-Prime-Launch (6)](https://user-images.githubusercontent.com/24368665/144840968-a37af369-91f5-44de-bf79-3c7aecd89e96.png)

[2021-12-06 12:29] BartuCulha opened #624 "Firefox won't show latest launches"

[2021-12-06 12:32] dkent600 commented on #619
Can't reproduce

[2021-12-06 12:32] BartuCulha opened #625 "Loading Time needs to be improved when entering the website for the first time."

[2021-12-06 12:37] dkent600 commented on #620
@renc-curvelabs this is up to Raz or whomever.

[2021-12-06 12:37] dkent600 commented on #621
very low priority  @renc-curvelabs

[2021-12-06 12:41] BartuCulha commented on #619
Yes or do a middle click using the mouse wheel @dkent600

[2021-12-06 12:43] renc-curvelabs commented on #621
Agreed @dkent600

[2021-12-06 12:44] renc-curvelabs commented on #616
Agreed @dkent600

[2021-12-06 13:04] dkent600 commented on #624
@BartuCulha What does it mean "for a period of time"?  Do you mean that one must keep refreshing the page, or that they eventually show up if you wait long enough?

If the former, what do you see in the console.log?

[2021-12-06 13:07] dkent600 commented on #625
On the test site one can easily see in the console what is taking so long.  Can you please provide more information?  @BartuCulha

It is possible the new pinata gateway might help.  (with the next deploy)

[2021-12-06 15:03] BartuCulha opened #627 "Under Construction Section should be aligned to middle"

[2021-12-06 15:06] BartuCulha commented on #624
It is the former. Here's the console log:

ERROR [Prime Launch] Error fetching from https://bafybeigab53nvfxziosjbohjjasp34xwtstrkcr4z5q4hlrqs67owsg3aq.ipfs.dweb.link/: Request failed with status code 429 aurelia-logging-console.js:45:32
ERROR [Prime Launch] LbpManager: Error initializing lbpManager: LbpManager metadata is not found in IPFS, LbpManager is unusable: 0x1493c17C6fbaBF494be4e5Bd56A691

[2021-12-06 15:10] BartuCulha opened #628 "Pinata: Too many requests error on testnet"
Due to this error, DAI token logo will not be loaded.
![Screenshot 2021-12-06 at 18-10-46 Home Prime Launch](https://user-images.githubusercontent.com/24368665/144870990-34ada8c2-be50-4ed1-8bbd-c6d19ec98c4b.png)

GET https://gateway.pinata.cloud/ipfs/QmVChZZtAijsiTnMRFb6ziQLnRocXnBU2Lb3F67K2ZPHho
[HTTP/1.1 429 Too Many Requests 63ms]

[2021-12-06 15:15] BartuCulha commented on #625
I just cannot reproduce this at the moment, I'll keep testing and share the results if it occurs @dkent600

[2021-12-06 15:27] BartuCulha commented on #618
This issue is confusing: Here's recap @renc-curvelabs  @dkent600

When you'll type in a funding token amount, you'll see the amount of project token you will be receiving from that transaction.  However that calculation wont add up with the actual project token that I receive. Here's an example:
Here, we are swapping 100 Prime with 179.72 DAI
![Liquid-Launch-Dashboard-Prime-Launch (9)](https://use

[2021-12-06 15:33] BartuCulha opened #629 "LBP Dashboard: Admin Dashboard copy needs to be changed"

[2021-12-06 15:35] BartuCulha opened #630 "LBP Dashboard: Reduce space between Title and Subtitle in Admin Dashboard Section"

[2021-12-06 15:57] BartuCulha commented on #618
How are these calculated? 1 Prime = 1.79 DAI, I am swapping 100 Prime. Why am I receiving 47 DAI?

It would be awesome if you could help me understand the math behind it @fabianschu

[2021-12-06 16:02] BartuCulha commented on #628
Is this a dup of #582 @dkent600

[2021-12-06 16:12] BartuCulha opened #631 "Price change & Price change rate calculations"

[2021-12-06 16:15] fabianschu commented on #618
That's a **bug**. @giladt and I also noticed it. In the UI it just shows the price of one unit of PRIME. When you swap 100 PRIME you will receive a lot more DAI, but not 100 * 1.79, due to the price impact (especially when liquidity in the pool is small). Here's a good explanation: https://doc.paraswap.network/price-impact-slippage
@BartuCulha

[2021-12-06 16:37] BartuCulha opened #632 "State of an LBP after Pausing or Unpausing a LBP should be automatically updated"

[2021-12-06 19:47] dkent600 opened #634 "Hide old LBDs on mainnet"

[2021-12-07 05:52] dkent600 commented on #614
I wasn't able to reproduce the Seed issue, but I did make a slight tweak.  Can you please try again?  I did identify and believe I fixed the problem with LBP.

[2021-12-07 05:56] dkent600 commented on #618
@fabianschu @giladt Can you please provide a version of `LbpProjectTokenPriceService.getProjectPriceRatio` that takes an argument for the number of funding tokens being input?  Thanks!

[2021-12-07 06:16] dkent600 commented on #632
Can't reproduce, works fine for me

[2021-12-07 06:19] dkent600 commented on #631
the data comes from the price history.  @giladt  can you take a look?

[2021-12-07 06:33] dkent600 commented on #628
It actually isn't a dup.  The DAI url (as well as the others) are coming from the tokenlist which has the urls supplied by kolektivo at gateway.pinata, which is just asking for this error to happen since it is a public ipfs gateway.  Now that we have a private gateway, we could change those urls to use it.  I can make that change, but need signoff to make such access public. @renc-curvelabs

[2021-12-07 07:20] dkent600 commented on #578
We can't have those fonts on this page, so I'm using Arial.  This was previously noted in the TG channel.

[2021-12-07 07:42] renc-curvelabs commented on #628
What are the pros and cons (cons I am mostly interested in) of making such access public? Any security risks we are taking on? @dkent600 Thanks!

[2021-12-07 08:52] fabianschu commented on #618
@dkent600 before we come up with a homemade function, I'd like to rule out that we can use SOR for this. From the SOR docs, calculating the amount of tokens that a swapper receives in exchange for their token, sounds like a core functionality that is included in SOR. You have worked with that SOR already. Can you confirm this is true?

[2021-12-07 09:13] giladt commented on #631
@dkent600 I think the calculation is wrong here:
To calculate the price change we should use:
[code]

I'd also add a $ sign before the absolute price change...

[2021-12-07 10:17] dkent600 commented on #618
@fabianschu SOR is what we use for the non-lbp funding tokens.  But to use it for the current lbp I need to investigate to see if we can limit itself to looking at the current lbp.

[2021-12-07 10:46] fabianschu commented on #618
Why do we need to introduce this limitation? I would assume that
1. for an LBP where a new token is launched there will not be another pool that offers a better price than the LBP itself (because project token is likely to be a new token)
2. if for some reason someone had created another pool containing the same project token (which again I don't believe will happen) with offering a better price,

[2021-12-07 10:54] dkent600 commented on #618
personally I would not want to assume that is always the case

It was an explicit conscious decision from luuk that users should use the current contract.

[2021-12-07 11:55] BartuCulha opened #636 "LBP Dashboard Statistics needs rework after removing liquidity"

[2021-12-07 12:10] dkent600 commented on #618
@giladt Can you please investigate @renc-curvelabs 's question?

[2021-12-07 12:15] dkent600 commented on #628
@giladt Can you please investigate @renc-curvelabs 's question?

[2021-12-07 13:08] dkent600 commented on #618
SO we're switching to always using SOR  @renc-curvelabs  @BartuCulha

Note an affect on this is that on rinkeby we won't always see the results in the statistics, etc because trades may be happening in another pool.  This has always been a possibility with non-lbp funding tokens, but now is also true when buying using the lbp funding token.

[2021-12-07 15:03] renc-curvelabs commented on #618
I am happy to follow @fabianschu 's recommendation here - aligned!

[2021-12-07 15:07] renc-curvelabs commented on #620
Can we check this again as the new loading page is there @BartuCulha

[2021-12-08 09:46] dkent600 commented on #636
For what it is worth, we've got a few days after release to work this.  @renc-curvelabs

[2021-12-08 11:32] dkent600 commented on #634
also hides seeds, in case they weren't already hidden, but I think they were

[2021-12-08 11:50] dkent600 commented on #619
This is happening because the browser is preventing popups.  This is a result us us trying to make the privacy policy, which is at a PDF, be available at launch.prime.xyz/privacy-policy.  The problem happens whether ctrl-clicking the link or trying to manually browse to the url.

Fixing this for both cases is tricky.

[2021-12-08 12:07] renc-curvelabs commented on #619
What is the alternative ser? @dkent600

[2021-12-08 12:30] dkent600 commented on #628
@giladt  @renc-curvelabs I went ahead and made the change to the tokenlist.  We can revert if needed.  I suspect the only issue with making that gateway more public is the chance of DOS attack.

[2021-12-08 18:36] dkent600 commented on #619
Per @renc-curvelabs  We can fix this by simply linking to the actually document instead of an internal route.

[2021-12-09 07:34] dkent600 commented on #624
This has nothing to do with clearing the cache.  It is the 429 error that we've reported elsewhere and have since fixed by switching to our own IPFS gateway.

[2021-12-09 07:35] dkent600 commented on #620
I am not seeing this on my machine.

[2021-12-09 09:33] BartuCulha commented on #617
not fixed
![Home _ Prime Launch (1)](https://user-images.githubusercontent.com/24368665/145370809-985c9700-9bbb-4347-b019-aad5105a8574.png)

[2021-12-09 11:06] BartuCulha opened #637 "Lbp dashboard: Buy button should work"

[2021-12-09 11:45] BartuCulha opened #638 "LBP Dashboard: Swap Limit Error"

[2021-12-09 12:11] BartuCulha commented on #631
Looks off to me. The price change rate says "-0.0026121874402028483" however price dropped by "2.80" and the current price is "7.93". Price change rate should be larger than 0.002

![Liquid Launch Dashboard _ Prime Launch (3)](https://user-images.githubusercontent.com/24368665/145393960-88e0f13a-0361-4b44-ba38-e67c7baefb37.png)

[2021-12-09 12:30] dkent600 commented on #638
@BartuCulha what does this mean: "Initiate swap for more than once. "

I just swapped .1 WETH and it worked fine.  Must be more specific repro steps.

[2021-12-09 12:35] BartuCulha commented on #638
After a successful swap, please redo same process, and try to initiate a new swap

[2021-12-09 18:36] dkent600 opened #639 "initializing LBP should not cause balancer to reward weight error"

[2021-12-09 18:46] dkent600 commented on #639
I introduced this bug when coding to avoid another issue where bignumbers were underflowing when typing small fractions into the funding amount in the LBP dashboard.

The bug is actually in the native javascript library, in `toFixed`, which adds garbage at the 17 and 18 decimals.

The fix is to eliminate use of `toFixed` and use a different algorithm.

[2021-12-10 02:49] dkent600 commented on #636
@BartuCulha I have coded up something for total raised/sold values changes, but is difficult to test without having a unique project token that would force swaps to go through the current LBP.  So I'm deferring to you testing I would normally do, just a heads up.

[2021-12-10 02:52] dkent600 commented on #617
@BartuCulha I can't reproduce this.  Are you using the new test site?

[2021-12-10 03:15] dkent600 commented on #636
Hmm, I didn't properly fix the NaN problem.  Turns out to be due to a bug in the library numeral.js we're using for formatting numbers.  It seems the library is no longer being maintained :-(.

[2021-12-10 03:40] dkent600 commented on #636
OK, found a work-around for the NaN problem.

[2021-12-10 08:26] renc-curvelabs opened #640 "Seed Mainnet Testing"

[2021-12-10 11:19] BartuCulha opened #642 "- Change old PRIME to new #D2D next to the wallet:"

[2021-12-10 11:20] BartuCulha opened #643 "The token list to be updated with new #D2D token"

[2021-12-10 11:21] BartuCulha commented on #643
it would be great to record this process so we can list out the steps to update Token lists @dkent600

[2021-12-10 11:21] BartuCulha opened #644 "Support with converting Luuk's Google Drive to GitHub - Put it in the Prime Launch repo"

[2021-12-10 11:22] BartuCulha opened #645 "Remove Geoblocking from LBPs"

[2021-12-10 11:22] BartuCulha opened #646 "Prime Launch Multisig address to be updated"

[2021-12-10 11:24] BartuCulha opened #647 "LBP Reg. Wizard Change "Seed Admin" => "Liquid Launch Admin""

[2021-12-10 11:24] blink-km opened #648 "Implement Analytics script"
Here is how to do it:
https://usefathom.com/docs/script/script

This is our site specific code (we use a normal domain not custom domain):
<script src="https://cdn.usefathom.com/script.js" data-site="DPJWXNFE" defer></script>

More information regarding SPAs:

https://usefathom.com/docs/script/script-advanced#spa
https://usefathom.com/docs/integrations/spas

[2021-12-10 11:32] blink-km opened #649 "Custom domain Analytics"
With our analytics package, we will get more features with a custom domain.
To enable that we have to edit our DNS records with our domain registrar, so it is optional at this point.

[2021-12-10 12:41] BartuCulha opened #650 "Add a copy if Admin Dashboard is empty"

[2021-12-10 13:33] BartuCulha opened #651 "1. Move the Support to submenu and keep same style as submenu"

[2021-12-10 13:34] BartuCulha opened #652 "Add a phrase at the end of the registration process: "This might take up to 5 minutes.""

[2021-12-10 13:34] BartuCulha opened #653 "Display the preview chart on the LBP dashboard until the launch begins"

[2021-12-10 13:35] BartuCulha opened #654 "Deploy the website to "launch.prime.xyz""

[2021-12-10 13:45] renc-curvelabs opened #655 "Redirect https://primedao.eth.link/ to https://www.prime.xyz/"
https://primedao.eth.link/ is currently pointing to the old Prime website
We would like it to point to https://www.prime.xyz/

[2021-12-10 13:54] dkent600 commented on #654
Don't need a ticket for this.  It will probably happen more than once.

[2021-12-10 13:54] #654 closed

[2021-12-10 13:56] dkent600 commented on #646
This seems to have fixed itself

[2021-12-10 13:57] dkent600 commented on #645
LBPs already don't have them.

[2021-12-10 13:57] #645 closed

[2021-12-10 14:00] dkent600 commented on #649
Moving to In Spec

[2021-12-10 16:18] dkent600 opened #656 "SHould not be possible to submit .svg token logo image files"

[2021-12-10 16:19] dkent600 opened #657 "add new D2D token logo"

[2021-12-10 17:22] renc-curvelabs opened #659 "Update Contributing to Liquid Launch"

[2021-12-10 17:22] renc-curvelabs commented on #659
![image](https://user-images.githubusercontent.com/79934562/145615470-3565ec00-d73e-4a56-9533-e61cbf86d002.png)

[2021-12-10 18:52] dkent600 commented on #648
@blink-km Is this tool smart enough to know to ignore test sites and only track launch.prime.xyz?

[2021-12-10 19:16] dkent600 commented on #638
Waiting for feedback from the Balancer TG channel

[2021-12-10 19:17] dkent600 commented on #378
Waiting for Pat to review the template Marvin came up with

[2021-12-11 10:27] BartuCulha opened #660 "LBP Reg Wizard: Preview Chart wond display values if D2D is selected as funding token"

[2021-12-11 13:02] giladt commented on #660
This is related to D2D not yet listed on CoinGecko, and therefore doesn't have historical prices information.

[2021-12-13 06:29] blink-km opened #661 "Update Counting down time"
We want the countdown to end at 3 pm (GMT +01) currently it will end at midnight.

[2021-12-13 06:45] dkent600 opened #662 "Etherscan link should not generate error message"

[2021-12-13 07:00] blink-km opened #663 "Remove the analytics code from the testing sites"
Currently, the analytics code is both on the testing sites and the actual apps. So the analytics data we received are from both sources but we only want to track the activities on the actual app.

[2021-12-13 07:14] dkent600 opened #664 "Remove D2D from funding tokenlist"

[2021-12-13 07:25] dkent600 commented on #660
Should no longer be possible, by this:  https://github.com/PrimeDAO/prime-launch-dapp/issues/664

[2021-12-13 13:37] renc-curvelabs commented on #659
Add the following section at the end of the document:

https://docs.google.com/document/d/1uO_DjHSWbS61w_wS5nOHh3NX2WnffqZWh4d0imoNiiU/edit

[2021-12-13 13:42] BartuCulha commented on #636
After removing the liquidity, balances turned "0" and total raised stayed the same.

But total sold went from 99,985.87 to -99,985.87 which seems like a bug @dkent600

[2021-12-13 20:48] dkent600 commented on #636
@BartuCulha How much was the total project tokens you put in?

[2021-12-13 21:03] BartuCulha commented on #636
It is this lbb: https://prime-launch-dev.vercel.app/lbp/0xacCCA270C46199c57bC2F9b0D98AC63b72164d48

Total project tokens I put in: 100000 Prime
Total I got back: 14.12 Prime

Before removing liquidity:
![18443938-8698f272e3cb98c9a9b901a2317ae171](https://user-images.githubusercontent.com/24368665/145888252-1abf9afd-6ba0-4179-be1b-df4d5ca77fd2.png)
After removing liquidity:
![18444127-d50360d276cde

[2021-12-13 21:08] dkent600 commented on #636
@BartuCulha So you expect to see 14.12 for total sold?

[2021-12-13 21:10] dkent600 commented on #636
Hmm, wait, you didn't get back the 10.000?

[2021-12-13 21:45] dkent600 commented on #636
So it is fixed

[2021-12-13 23:46] dkent600 commented on #638
There is a new little UI thingie:  If your expected rate of exchange changes, then I'm putting up a warning:

"Heads up that we just updated the exchange rate for D2D that you may receive"

[2021-12-14 08:59] blink-km opened #666 "Cancel button not directing the users to previous page"
![thumbnail_IMG_0003.png](https://images.zenhubusercontent.com/6194d77c0f22bb6aa034c73b/3f045f80-4c84-42bc-b71d-dfc599563893)

[2021-12-14 09:00] blink-km commented on #666
<img width="510" alt="Screen Shot 2564-12-14 at 09 59 43" src="https://user-images.githubusercontent.com/94439781/145966463-e147fabf-1e81-4d75-a9a2-e18a89ec5a85.png">

[2021-12-14 09:08] BartuCulha commented on #636
But we are seeing "-99985.87" are we supposed to see a minus? @dkent600

[2021-12-14 09:08] blink-km commented on #666
In the project launch site for both LBP and Seed, the cancel button is unclickable. It supposes to redirect the users to the previous page or the home page. The problem exists for both the mobile and desktop version of the app

[2021-12-14 09:24] BartuCulha commented on #638
I am able to see the warning message and the button is disabled, however button is not grayed out.

Please make the button grayed out until a new fetch comes along.
@dkent600

[2021-12-14 09:30] dkent600 commented on #638
yes, this is what I mentioned I'm working on this morning and described in the comment just above.  However, the particular case you describe is now moot, and I am no longer going to prevent the swap from happening in this case.

[2021-12-14 10:11] dkent600 commented on #636
I am not seeing a negative number

![image](https://user-images.githubusercontent.com/1821666/145978324-deba97f3-6da2-475b-a3f0-02de5193ac26.png)

[2021-12-14 10:19] dkent600 commented on #666
This was another miss in the change from "launch" to "register"

[2021-12-14 10:25] BartuCulha commented on #666
One question, is this deployed on "https://launch.prime.xyz/newLBP" ?

If thats the case "cancel" button wont work

[2021-12-14 11:20] BartuCulha commented on #638
- [ ] Warning message to say:

"Heads up that the exchange rate we're showing you for D2D has just changed by more than 1%"

[2021-12-14 11:49] dkent600 commented on #638
fixed

[2021-12-14 12:18] BartuCulha opened #667 "Error getting token price. Defaulting to 0"

[2021-12-14 12:32] dkent600 commented on #667
Those errors have been there forever.  I don't think they have any effect.

[2021-12-14 12:38] dkent600 commented on #667
I bet one sees the same behavior in Balancer, but they may handle it differently when a trade is not possible.  Would be good to know how they do this @BartuCulha @renc-curvelabs

[2021-12-14 14:47] codebuster22 opened #668 "Bug: The backlink to Launch contract in `Launches` tab is pointing to LBPManager instead of LBP."

[2021-12-14 16:12] renc-curvelabs opened #670 "For Price Calculation: We are hardcoding priceAtTimePoint = 1 USD which needs to be updated"

[2021-12-14 16:15] renc-curvelabs commented on #668
Backlink issue fix
Build:- https://prime-launch-staging-git-668-backlink-fix-curvelabs.vercel.app/launches
PR:- https://github.com/PrimeDAO/prime-launch-dapp/pull/669

[2021-12-14 16:16] renc-curvelabs opened #671 "The Swap Fees should be in $ and not in %"

[2021-12-14 16:17] renc-curvelabs commented on #671
![image](https://user-images.githubusercontent.com/79934562/146036869-5136f71f-44b2-4019-8a93-0d72dad6d73a.png)
 This should be in $ not %

[2021-12-14 16:39] BartuCulha commented on #667
Yep,, I believe I have reported before.
I tried to reproduce this on balancer. Im getting this:
![Balancer](https://user-images.githubusercontent.com/24368665/146040618-c918a4fd-348a-4cb8-9e22-e9dab9272a0f.png)

[2021-12-14 16:45] renc-curvelabs opened #672 "revisit how we are computing the price deltas (shown under the current price)"

[2021-12-14 16:45] renc-curvelabs commented on #672
![image](https://user-images.githubusercontent.com/79934562/146041721-9dfad48d-da01-421f-8aa1-13c8d4100a33.png)

[2021-12-14 18:19] BartuCulha opened #673 "Unknown Pool Type"

[2021-12-14 19:25] dkent600 opened #675 "Token price should be computed differently"

[2021-12-14 19:36] BartuCulha opened #676 "Chart should show correct Date/Time for diferent timezones"

[2021-12-14 21:07] BartuCulha opened #678 "Adblockers cause: network error"

[2021-12-14 21:36] dkent600 commented on #673
This is just SOR being noisy

[2021-12-14 22:10] fabianschu opened #679 "Fix: Displayed average price"
**Steps to reproduce**
1. Go on the launch page for D2D launch: https://launch.prime.xyz/lbp/0xD6f3AcA3ec1D407c846F031CE02402b75Dd42Ead
2. Check the average price that is displayed a) in the graph and b) in the top right corner
3. Compare it to the amounts of D2D that were sold and USDC that was raised (bottom of page)

**Expected Behaviour**
- the average price being displayed matches `quantityOf

[2021-12-15 06:08] dkent600 opened #680 "add hamburger menu to mobile layout"

[2021-12-15 09:22] renc-curvelabs opened #681 "VPN Issues when accessing the site"

[2021-12-15 09:23] renc-curvelabs opened #682 "VPN Issues when accessing the app"

[2021-12-15 09:24] #682 closed

[2021-12-15 09:24] renc-curvelabs commented on #681
Mullvad

[2021-12-15 09:58] renc-curvelabs opened #683 "Syncing the Price on Top Left and the Price on the Chart"

[2021-12-15 10:05] renc-curvelabs commented on #649
By doing this will enable us to defeat the adblockers

[2021-12-15 10:08] renc-curvelabs commented on #678
https://github.com/PrimeDAO/prime-launch-dapp/issues/649
This will be addressed with the ticket above

[2021-12-15 10:13] blink-km commented on #649
1. We have to add a DNS records with our domain registrar.

DNS Record for prime.xyz
Add this DNS record to prime.xyz with your domain registrar. If you're stuck, here's our documentation on this process. https://usefathom.com/docs/script/custom-domains

CNAME	Value
launch	curved-rewarding.b-cdn.net
Once you've added these records, click the button below. You'll receive an email once your custom d

[2021-12-15 10:18] renc-curvelabs commented on #681
_"Works with VPN on for various territories. France, US for example, but not for UK
Using Brave"_ - As reported

[2021-12-15 10:20] renc-curvelabs commented on #681
Gilad is getting an error with Opera's built in VPN

[2021-12-15 10:22] BartuCulha commented on #681
Used Opera VPN set location to "Americas"
"Failed to load resource: net::ERR_BLOCKED_BY_ADBLOCKER
vendors~556c66f2.0b29e9b84322311f6adb.chunk.js:sourcemap:18 [Deprecation] 'window.webkitStorageInfo' is deprecated. Please use 'navigator.webkitTemporaryStorage' or 'navigator.webkitPersistentStorage' instead.
(anonymous) @ vendors~556c66f2.0b29e9b84322311f6adb.chunk.js:sourcemap:18
launch.prime.xyz/:

[2021-12-15 10:30] blink-km commented on #649
This is the records you have to add

<img width="531" alt="Screen Shot 2564-12-15 at 11 27 33" src="https://user-images.githubusercontent.com/94439781/146170119-fb7fe793-dc44-4cd1-8eaf-f9e3da7f53e9.png">

[2021-12-15 10:30] blink-km commented on #649
@dkent600 Lmk if you need more info

[2021-12-15 10:31] renc-curvelabs commented on #672
Add a $ infront of the change in price

[2021-12-15 10:37] renc-curvelabs commented on #680
The menu should include:

- Home
- Register
- Launch
- Documentation
- Support

[2021-12-15 11:30] dkent600 commented on #672
I have added the $

[2021-12-15 15:24] dkent600 commented on #679
Fix for both text in upper right and the line on the chart

[2021-12-15 15:38] BartuCulha commented on #679
Here: https://prime-launch-staging.vercel.app/lbp/0xD6f3AcA3ec1D407c846F031CE02402b75Dd42Ead

Current average price is: 1.44
usdRaised / quantityOfProjectTokensSold =  37,541.60 / 32,566.17 = 1.15277909561

the average price shown at the moment is not equal to the result of these calculations.

[2021-12-15 15:43] renc-curvelabs opened #685 "Include Swap Fee in calculations"

[2021-12-16 12:51] blink-km commented on #649
2. For the second part we would like to track certain events that happened on our page (ie. button clicks/page loads)
https://usefathom.com/docs/features/events

There are 3 ways to set this up:
1. track events as links - This will fire off an event any and every time that link is clicked.
2. add javascript which targets an element on a page. 
3. track an event as page load

These are the required

[2021-12-16 12:58] blink-km commented on #649
@dkent600 Let me know when you work and this. We can go over which kind of code you want to add (one of the 3 I mentioned) and then I'll create Event code/Javascript code for those events.

[2021-12-16 15:23] dkent600 commented on #649
@blink-km Should we use our own domain registrar, or that of kolektivo?  Can you please provide me with the login information?

[2021-12-16 15:24] dkent600 commented on #649
@blink-km

re:  b) Page tracking

Are we not already tracking those?

[2021-12-17 12:30] BartuCulha opened #688 "Time left should show how many minutes left"

[2021-12-17 18:04] giladt opened #690 "Average line not starting at launch start time"
![image.png](https://images.zenhubusercontent.com/60c89178ac3fd01fa6c9ba4a/0c49bc93-5661-4d92-b048-78fb1bb751aa)

[2021-12-18 06:45] dkent600 commented on #688
And seconds.  Should show the largest unit at the current point in time.

[2021-12-18 06:54] dkent600 commented on #688
@BartuCulha How much time was remaining when you saw this?

[2021-12-18 08:21] BartuCulha commented on #688
@dkent600 its shown in the screenshot. Time remaining was 1 hours 31 minutes. Best way to reproduce is to create a new LBP that lasts less than 24 hours

[2021-12-18 08:29] BartuCulha opened #691 "price delta should show the delta of the last price"

[2021-12-20 06:24] blink-km commented on #649
Current status: waiting for Luuk to provide us with the info on how to access to the domain registrar.

[2021-12-20 18:41] BartuCulha commented on #685
I cannot notice anything in the UI, how can I test this? @dkent600

[2021-12-20 22:06] dkent600 opened #694 "Project Token Price should not be zero"

[2021-12-20 22:07] dkent600 commented on #694
The problem is that `PriceService.getCurrentProjectTokenWeight` is returning a negative number.

[2021-12-20 22:40] dkent600 opened #695 "Should be left padding in Launches table"

[2021-12-21 09:15] blink-km opened #696 "Negative price bug"
![IMAGE 2564-12-21 10:14:29.jpg](https://images.zenhubusercontent.com/6194d77c0f22bb6aa034c73b/be296bec-1acb-46ac-9170-1b976b4a72e5)

[2021-12-21 09:22] blink-km commented on #694
![IMAGE 2564-12-21 10:14:29](https://user-images.githubusercontent.com/94439781/146904698-64d3da17-d342-4e50-8349-5491efa1cda0.jpg)

The price also should not be negative

[2021-12-21 09:22] #696 closed

[2021-12-21 09:35] blink-km commented on #153
We want to create a page for the Prime squad team to access the registration information.

[2021-12-21 12:22] dkent600 commented on #694
It always was negative, just couldn't see it unless you hovered over the number.

[2021-12-21 12:50] BartuCulha opened #697 "Price Chart: Need zoom out just a bit to be able to see the whole graph on my phone."

[2021-12-21 22:58] dkent600 commented on #153
As I understand, @codebuster22 will be working this one at least up to the point where he was identified the Safe API that we can use to use to generate a list of queued and historical Safe transactions.

[2022-01-03 13:14] codebuster22 commented on #153
The API that needs to be used is:- `https://safe-transaction.gnosis.io/api/v1/safes/${SAFE}/multisig-transactions/`
where `SAFE` is the address of deployed safe on mainnet. This API will only work with `Mainnet`. The URL for other network is different and I think, we can test out things with mainnet as we just want to read data and not write anything.
This API have many filter, which I haven Tried

[2022-01-05 05:56] blink-km opened #700 "Create the documentation for Prime Deals"
**Documentation outline:**
Overview
Token swap
Open deals
Single deals
Propose a deal
Join a deal
Voting process
Funding process
Deal Admin
Deal representative
FAQ

[2022-01-05 06:01] #700 closed

[2022-01-05 06:02] blink-km commented on #700
Wrong Kanban.

[2022-01-07 09:22] BartuCulha opened #702 "Subscribe Section needs visual adjustments"

[2022-01-10 07:26] blink-km commented on #153
The app created by Mihir is sufficient for this.

[2022-01-17 14:47] dkent600 commented on #649
From Luuk via @blink-km :

for https://launch.prime.xyz/  domain registrar
We use a service called Namecheap
you can access it with your CL email

[2022-01-17 14:54] blink-km opened #703 "Make LBP swapping disabled as a default"

[2022-01-17 15:30] BartuCulha opened #704 "Zero Invariant Error Message"

[2022-01-19 05:51] blink-km opened #706 "Update the Gnosis Safe URL"
![IMAGE 2565-01-19 06:49:10.jpg](https://images.zenhubusercontent.com/6194d77c0f22bb6aa034c73b/b4dc1b58-ec58-4a97-9458-61d598860991)

At the pop-up before a user can submit an LBP launch, we have a link that is supposed to lead the user to Mainnet Gnosis Safe but it is currently linking the user to Rinkeby Gnosis Safe

[2022-01-19 06:23] blink-km commented on #706
This is the updated URL:
https://gnosis-safe.io/app/eth:0x52F50f557704938Df066EC4Db7426D66538E7796/

[2022-01-21 11:16] blink-km commented on #703
copy writing for the admin: "Please note that as the administrator, you are responsible for unpausing the LBP at the start time and pausing the LBP at the closing time to ensure an accurate LBP launch. These actions can be done at the LBP Administration dashboard."

[2022-01-21 11:18] BartuCulha commented on #703
I'm done with testing. There were some bugs but @codebuster22 fixed them.

[2022-01-24 23:08] dkent600 commented on #704
Not sure what this is about.  Here is the info in the contract:

[code]

[2022-01-24 23:27] dkent600 commented on #706
The FE is supply the correct URL as far as I can tell:

https://gnosis-safe.io/app/#/safes/0x52F50f557704938Df066EC4Db7426D66538E7796/transactions

"0x52F50f557704938Df066EC4Db7426D66538E7796" is the SAFE contract address given us by the contracs-v2 ABI json file for mainnet.

@Zitzak @codebuster22

[2022-01-25 00:06] dkent600 opened #707 "Configure separate site tracking for arbitrum"

[2022-01-25 08:04] Zitzak commented on #706
Indeed, this is the safe on mainnet, address supplied by the ABIs. You can see the launch of the D2D token in its transactions. So this should just be the right URL

[2022-01-25 08:12] codebuster22 commented on #706
If you see, this url (https://gnosis-safe.io/app/#/safes/0x52F50f557704938Df066EC4Db7426D66538E7796/transactions) resolves to a different URL (https://gnosis-safe.io/app/eth:0xc54Ad3e73BDE767738335809A5f20F9BB80Be8D3/balances).

Now they use same domain for different network.

`https://gnosis-safe.io/app/{GnosisSpecificNetworkName}:{safeAddress}/`

Where,
`GnosisSpecificNetworkName` - A short name

[2022-01-25 08:41] blink-km commented on #703
@dkent600 at the Admin Dashboard

[2022-01-25 14:11] dkent600 commented on #706
@codebuster22 Can you please point to documentation of this, where we can see the prefix values for each network?

[2022-01-25 14:45] BartuCulha opened #708 "Error: Processing Response error"

[2022-01-25 14:52] BartuCulha opened #709 "Not able to fetch Token Logo"

[2022-01-25 14:57] BartuCulha opened #710 "Not able to Click"

[2022-01-25 15:13] blink-km opened #711 "Arbitrum site tracking"
Here is how to add the script:
https://usefathom.com/docs/script/script

Here is the script:
<script src="https://cdn.usefathom.com/script.js" data-site="CBSKCLDZ" defer></script>

[2022-01-25 17:23] dkent600 commented on #709
Yes, we don't have the token info yet, waiting for Luuk

[2022-01-25 17:26] dkent600 commented on #711
This is a dup of: https://github.com/PrimeDAO/prime-launch-dapp/issues/707

[2022-01-25 17:26] #711 closed

[2022-01-25 17:27] dkent600 commented on #708
Yeah, I discovered that today too, but haven't have time to work it

[2022-01-25 20:45] dkent600 commented on #708
This was do to the cap Infura imposes on the number of blocks one can query at a time (100,000).  Fixed by switching from Infura to https://arb1.arbitrum.io/rpc

[2022-01-26 09:53] BartuCulha opened #712 "a"

[2022-01-26 10:19] BartuCulha commented on #153
I am not able to test this issue at the moment because there's probably no seed requests in the mainnet therefore the link looks empty @codebuster22

https://codebuster22.github.io/prime-safe-trx-reader/

[2022-01-26 10:37] codebuster22 commented on #153
Let me check it

[2022-01-26 15:09] BartuCulha opened #713 "Funding amount not shown correctly"

[2022-01-26 18:42] dkent600 commented on #712
Bottom line, the etherscan link for arbitrum doesn't work.

[2022-01-26 20:19] dkent600 commented on #703
text instructions are present on stages 6, 7 and 8 of LBPs

[2022-01-26 20:43] dkent600 commented on #713
@BartuCulha I don't know what you mean "and amount to 1."  What amount?

In any case, it is working fine for me, I can't reproduce.

[2022-01-27 08:29] blink-km opened #714 "Update the pre-registration url"
New url : https://primedao.typeform.com/to/xwkxA9XP

Both for Mainnet and Arbitrum

![IMAGE 2564-12-03 16:45:10.jpg](https://images.zenhubusercontent.com/6194d77c0f22bb6aa034c73b/66ddb2e9-bf84-4959-a54f-c4d0120a1f63)

[2022-01-27 10:00] BartuCulha commented on #713
I think #712 fixed this

[2022-01-27 10:03] dkent600 commented on #713
Naw, nothing to do with that

[2022-01-27 10:40] dkent600 commented on #714
Also appears on the Home page

[2022-01-27 16:18] dkent600 opened #715 "fix Gnosis Safe gas issue"
I don't know what the gnosis problem was (can't find a report on it), but this fix supposedly fixes it.

[2022-01-27 16:18] dkent600 opened #716 "Launches aren't appearing"
The Seed and LBP that Mihir created aren't showing in the dapp.

[2022-01-27 16:22] dkent600 commented on #716
There was a problem with the Multicall contract not being deployed to Arbitrum.  But Mihir's Seed and LBP still won't  appear due to other issues with the contracts themselves.  We should be able to test with creating Launches using the wizard.

[2022-01-27 16:45] BartuCulha commented on #716
My Launches also won't show up. Is this still a problem?

[2022-01-27 16:49] BartuCulha commented on #713
Occured again, updated the text above

[2022-01-27 16:54] BartuCulha opened #717 "Seed:"

[2022-01-27 17:52] BartuCulha opened #718 "Liquid Launch Preview/ Dates"

[2022-01-27 18:16] BartuCulha opened #719 "LPB: invalid bignumber value"

[2022-01-28 14:59] BartuCulha opened #720 "Statistics should update after a successful Swap"

[2022-01-28 15:05] BartuCulha opened #721 "Seed: Claimable Token Calculation for USDC / DAI pair seems wrong"

[2022-01-28 16:41] blink-km opened #722 "The metadata dashboard is not working"
https://codebuster22.github.io/prime-safe-trx-reader/

I already informed Mihir

[2022-01-29 11:47] dkent600 commented on #720
Should be noted that we are talking about "Total Sold" and "Total Raised" in the "Statistics" section

[2022-01-30 10:36] blink-km commented on #722
We'll use #153 to address this

[2022-01-30 10:37] #722 closed

[2022-01-30 12:49] dkent600 commented on #720
Not a bug. THe swap happened in a different pool

[2022-01-30 12:55] BartuCulha commented on #721
![SEED Dashboard _ Prime Launch (4)](https://user-images.githubusercontent.com/24368665/151700489-057dd9f5-e50f-4a45-90d7-afc54a64e7ab.png)

DAI Pending Amount should say 3.74, not -3,74

[2022-01-30 13:01] BartuCulha commented on #720
"Not a bug. THe swap happened in a different pool"

Is this related to this specific LBP? If I create a new LBP will it also happen in a different pool? @dkent600

[2022-01-30 13:04] dkent600 commented on #720
Swaps always happen in whatever pool offers the best price at the given point in time.

[2022-01-30 14:15] BartuCulha opened #723 "Launches are not able to load"

[2022-01-30 17:08] BartuCulha opened #724 "Resizing browser width causes elements inside the Newsletters Section to oveflow"

[2022-01-31 04:32] dkent600 commented on #721
Marking this optional for the arbitrum release because we shipped with it in the mainnet release (see launch.prime.xyz) and it doesn't see critical.

[2022-01-31 04:33] dkent600 commented on #724
Marking this optional for the arbitrum release because we shipped with it in the mainnet release (see launch.prime.xyz) and it doesn't see critical.

[2022-01-31 04:53] dkent600 commented on #723
The relevant error is "block range is too wide"

I fixed by fetched events in batches of 100000 and using Infura

[2022-01-31 10:24] BartuCulha opened #725 "LBP: Admin Dashboard should show Unpause Swapping Upon initializing"

[2022-01-31 11:30] BartuCulha opened #726 "GeoBlock should not restrict USA"

[2022-01-31 16:28] dkent600 commented on #726
Won't do

[2022-01-31 17:17] blink-km opened #727 "Update the geo-blocking list"
Add these countries to the geo-blocked list:
China, People's Republic of Korea, Central Africa Republic, Democratic Republic of the Congo, Eritrea, Guinea-Bissau, Libya, Somalia, South Sudan, Bosnia, Ethiopia, Sri Lanka, Trinidad, Tobago, Tunisia, Vanuatu

[2022-02-01 08:14] blink-km commented on #727
No longer relevant

[2022-02-02 14:08] blink-km opened #728 "Geo-blocking country selection"

[2022-02-04 12:06] ogsamovar opened #729 "test"
test

[2022-02-13 08:23] blink-km opened #733 "Load testing"
Based on the most accessed pages, we want to do load tests on the following pages:
LBP Dashboard
Launches page
Home page
Seed Dashboard

At the peak during the Vesta launch, there were around 2.5k concurrent users.

[2022-02-16 09:56] BartuCulha commented on #733
We need to sync with back end developers as well, can we have a call about load testing? @blink-km

[2022-02-16 10:13] giladt commented on #733
# Learnings
Sharing here some useful links from my learnings:

## Reading
https://loadninja.com/load-testing/
### VUs (Virtual users) calculator
https://smartbear.com/learn/performance-testing/load-testing-vu-calculator/

### K6.io
Introduction: https://www.youtube.com/watch?v=tFsIgbqXbxM&ab_channel=k6

https://app.k6.io/projects/3571294

Latest test results:
https://app.k6.io/runs/public/1d65d0ba